{% extends 'main_template.html' %}
{% load static %}

{% block title %} {{ story.title1 }} {% endblock %}

{% block page-styles %}
<link rel="stylesheet" href="{% static 'css/user/story_render.css' %}">
<link rel="stylesheet" href="{% static 'css/user/story_info.css' %}">
<link rel="stylesheet" href="{% static 'css/utils/arrows.css' %}">
<link rel="stylesheet" href="{% static 'css/user/profile.css' %}">
<link rel="stylesheet" href="{% static 'css/editor-display_template_1.css' %}">

<style>
  /* Styles for template 2*/
  .video-frame {
    width: 100%;
    height: 500px;
  }

  @media only screen and (max-width: 620px) {
    .video-frame {
      height: 300px;
    }
  }

  @media only screen and (max-width: 300px) {
    .video-frame {
      height: 250px;
    }
  }

  /* End of styles for template 2 */

  /* General styles */
  .control-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .exit-btn,
  .save-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--f-orange);
    width: 45px;
    height: 45px;
    color: #fff;
    margin: 0.5rem 1rem;
    transition: all 0.2s ease-in-out;
  }

  .exit-btn span,
  .save-btn span {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .exit-btn i,
  .save-btn i {
    font-size: 1.1rem;
    color: #fff;
  }

  .exit-btn:hover,
  .save-btn:hover {
    transform: scale(1.1);
    color: #fff;
  }

  /* End of general styles */
</style>
{% endblock %}

{% block content %}

<div class="container main-content">
  <div class="row mt-3">
    <div class="col-2 back-btn-container">
      {% if prev_page is None %}
      <a href="{% url 'story_info' route=story.route %}" id="back_page_btn">
        <span><i class="fa-solid fa-arrow-left"></i></span>
      </a>
      {% else %}
      <a href="{% url 'story_content' route=story.route page_number=prev_page %}" id="back_page_btn">
        <span><i class="fa-solid fa-arrow-left"></i></span>
      </a>
      {% endif %}
    </div>
    <div class="col-8 text-center text-muted fs-4">{{ page_number }}/{{ total_pages }}</div>
    <div class="col-2 next-btn-container">
      {% if next_page is not None %}
      <a href="{% url 'story_content' route=story.route page_number=next_page %}" id="next_page_btn">
        <span><i class="fa-solid fa-arrow-right"></i></span>
      </a>
      {% endif %}
    </div>
  </div>
</div>

{% if current_page.page_type == 1 %}
{% include 'page_display/page_display_template_1.html' %}
{% elif current_page.page_type == 2 %}
{% include 'page_display/page_display_template_2.html' %}
{% elif current_page.page_type == 3 %}
{% include 'page_display/page_display_template_3.html' %}
{% endif %}


<div class="control-buttons my-3">

  <!-- Exit button -->
  <div type="button" class="btn exit-btn" title="Salir" data-bs-toggle="modal" data-bs-target="#exit_modal">
    <span><i class="fa-solid fa-xmark"></i></span>
  </div>

  <div class="modal fade" id="exit_modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title  col-11 text-center">¿Desea regresar a la información de la historia?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
        </div>
        <div class="modal-body">
          <p class="text-center text-primary"><i class="fa-solid fa-circle-info"></i>
            Sus respuestas se guardarán para continuar más tarde.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <a href="{% url 'story_info' story.route %}" class="btn btn-danger">
            Salir</a>
        </div>
      </div>
    </div>
  </div>
  <!-- End of exit button -->

  <button id="btn_send_answers" type="button" class="btn save-btn" title="Enviar respuestas">
    <span><i class="fa-solid fa-check"></i></span>
  </button>

</div>

<!-- Statistics -->
<div class="container main-content d-none" id="results">
  {% include 'utils/story_statistics.html' %}
</div>
{% if next_page is None %}
<input id="next_page_input" type="text" value="{% url 'story_info' route=story.route %}" hidden>
{% else %}
<input id="next_page_input" type="text" value="{% url 'story_content' route=story.route page_number=next_page %}"
  hidden>
{% endif %}

{% endblock %}

{% block page-scripts %}
<script>
  const URL_ANSWER_PAGE = '{% url "story_content" route=story.route page_number=page_number %}';
  const URL_NEXT_PAGE = document.getElementById("next_page_input").value;
  const URL_REQUEST_EXERCISE_ANSWER = '{% url "request_exercise_answer" %}';

  let db_page_number = parseInt('{{ page_number }}');
  let db_total_pages = parseInt('{{ total_pages }}');
  let page_type = '{{ current_page.page_type }}';

  const LAST_PAGE = (db_page_number == db_total_pages) ? true : false;

  let db_story_id = '{{ story.id }}';
  let db_page_id = '{{ current_page.id }}';
  let media_url = '{{ media_url }}';
  let default_cover = '{{ story.cover.url }}';

  // Database elements
  let db_images = [];
  let db_videos = [];
  let db_texts = [];
  let db_dialogues = [];
  let db_repeat_phrases = [];
  let db_spellchecks = [];
  let db_mc_questions = [];

  let db_answers = {};
  let db_score = {};

  // Save answers to send and evaluate it
  let user_answers = [];

  try {
    db_images = JSON.parse('{{ images |safe }}');
  } catch (e) { }
  try {
    db_videos = JSON.parse('{{ videos |safe }}');
  } catch (e) { }
  try {
    db_texts = JSON.parse('{{ texts |safe |escapejs }}');
  } catch (e) { }
  try {
    db_dialogues = JSON.parse('{{ dialogues |safe |escapejs }}');
  } catch (e) { }
  try {
    db_repeat_phrases = JSON.parse('{{ repeat_phrases |safe |escapejs }}');
  } catch (e) { }
  try {
    db_spellchecks = JSON.parse('{{ spellchecks |safe |escapejs  }}');
  } catch (e) { }
  try {
    db_mc_questions = JSON.parse('{{ mc_questions|escapejs }}');
  } catch (e) { }

  try {
    db_answers = JSON.parse('{{ answers |safe |escapejs }}');
  } catch (e) { }

  try {
    db_score = JSON.parse('{{ score |safe |escapejs }}');
  } catch (e) { }
</script>

<script src="{% static 'js/sort_collections.js' %}"></script>
<script src="{% static 'js/user/functions_for_render_elements.js' %}"></script>
<script>
  let total_translations = { "start": 0, "end": 0 };

  // Set subtitle to page
  let page_subtitle = document.getElementById("subtitle");
  if (page_subtitle != null)
    page_subtitle.flipText();

  // Switch for load element
  function loadElement(element, total_translations) {
    switch (element.type) {
      case "image":
        renderImage(element);
        break;
      case "video":
        renderVideo(element);
        break;
      case "text":
        renderText(element, total_translations);
        break;
      case "dialogue":
        renderDialogue(element, total_translations);
        break;
      case "repeat_phrase":
        renderRepeatPhrase(element, total_translations);
        break;
      case "spellcheck":
        renderSpellcheck(element, total_translations);
        break;
      case "mc_question":
        renderMCQuestion(element);
        break;
    }
  }
  // End of switch for load element


  switch (parseInt(page_type)) {
    case 1:
      loadTemplate1(total_translations);
      break;
    case 2:
      loadTemplate1(total_translations);
      break;
    case 3:
      loadTemplate3(total_translations);
      break;
  }


  function loadTemplate1(total_translations) {
    /* Only for template 1 */
    if (db_images[0] != undefined) {
      default_cover = media_url + db_images[0].image;
    }
    let img_showed = document.getElementById('img_showed');
    if (img_showed != null) {
      img_showed.setAttribute('src', default_cover);
      img_showed.classList.remove('d-none');
    }
    /* ------------------------------ */

    document.getElementById("answer_questions_message").flipText();
    sortCollections();

    let contents = [];
    let exercises = [];
    for (let element of collections_sorted) {
      if (element.is_exercise)
        exercises.push(element);
      else
        contents.push(element);
    }

    for (let c of contents) {
      if (c.type == "image")
        continue;
      document.getElementById("content_area").outerHTML = `
        <div class="new_element"></div>
        <div id="content_area"></div>`;
      loadElement(c, total_translations);
    }

    for (let e of exercises) {
      document.getElementById("exercises_area").outerHTML = `
        <div class="new_element"></div>
        <div id="exercises_area"></div>`;
      loadElement(e, total_translations);
    }

    setFunctionality(total_translations);
  }

  function loadTemplate3(total_translations) {
    sortCollections();
    for (let e of collections_sorted) {
      document.querySelector('.new_element').outerHTML = `
      <div class="new_element"></div>
      <div class="new_element"></div>`;
      loadElement(e, total_translations);
    }
    setFunctionality(total_translations);
  }


</script>
<script src="{% static 'js/user/answer_exercises.js' %}"></script>
<script>
  // Buttons for save answers

  let btn_send_answers = document.getElementById('btn_send_answers')
  if (btn_send_answers) btn_send_answers.addEventListener('click', (e) => { saveAnswers(true, true) });

  let back_page_btn = document.getElementById('back_page_btn')
  if (back_page_btn) back_page_btn.addEventListener('click', (e) => { saveAnswers(false, false) });

  let next_page_btn = document.getElementById('next_page_btn')
  if (next_page_btn) next_page_btn.addEventListener('click', (e) => { saveAnswers(false, false) });


  setVolumeFunctionality();
</script>
{% endblock %}