# Create virtual environment
python3 -m venv env

# Activate virtual environment
source env/bin/activate
# Deactivate virtual environment
deactivate

# Install inside virtual environment
# pip3 install django djangorestframework pillow pymysql
# django-crispy-forms crispy-bootstrap5
asgiref==3.5.2
Django==4.1
djangorestframework==3.13.1
Pillow==9.2.0
PyMySQL==1.0.2
pytz==2022.2.1
sqlparse==0.4.2

