{% extends 'main_template.html' %}
{% load static %}


{% block title %} Aprende inglés!!! {% endblock %}

{% block navbar %} {% include 'navbar-custom.html' %} {% endblock %}

{% block content %} 
<div class="container">
    <div class="row mt-3">
        <h2 style="text-align: center;">Librería de cuentos</h2>
        <hr>
        {% for historia in historias %}

        <a class="c-card" href="{% url 'info_historia' historia.route %}">
            <div class="c-card-img-bg">
                <div class="c-card-img">
                    <img src="{{ historia.portada.url }}" alt="{{ historia.portada }}">
                </div>
            </div>
            <div class="c-card-title">
                {{ historia.titulo|truncatechars:70 }}
            </div>
            
        </a>
        {% endfor %}
        
    </div>
    

</div>

<br><br>
{% endblock %}