{% extends 'main_template.html' %}
{% load static %}


{% block title %} Aprende inglés!!! {% endblock %}

{% block navbar %} {% include 'navbar-custom.html' %} {% endblock %}

{% block content %}

<div class="main-history-container mt-3">
    <div class="btn-regresar">
        <a href="{% url 'index' %}">
            <i class="fa fa-arrow-left fa-3x" aria-hidden="true"></i>
            <label>Regresar</label>
        </a>
    </div>
    
    <section class="seccion-1">
        <div class="info-container-img">
            <img src="{{ historia.portada.url }}" alt="{{ historia.portada }}">
        </div>
        <div class="info-container-info">
            <div class="titulo">
                <h1>{{ historia.titulo }}</h1>
            </div>
            <div class="descripcion">
                <h2>{{ historia.descripcion | default:'' }}</h2>
            </div>
        </div>
        
    </section>
    <hr>
    <section class="seccion-2">
        <div class="container-categorias">
            {% for cat in historia.id_categoria.all %}
            <div class="categoria">
                {{ cat.nombre }}
            </div>
            {% endfor %}
        </div>
        <div class="container-empezar">
            {% if has_pages %}
            <a href="{% url 'contenido_historia' historia.ruta 1 %}" class="btn-empezar">Empezar</a>
            {% else %}
            <a href="#" class="btn-empezar">Próximamente</a>
            {% endif %}
        </div>
    </section>
    <hr>
    <section>
        <div class="group-calificacion">
            <div class="letra">
                <div class="marco-calificacion">
                    <div class="calificacion">
                        <h3>S+</h3>
                    </div>
                </div>
            </div>
            <div class="estadisticas">
                <h3>Puntuación más alta</h3>
                <!--for rubro in historia.id_rubro.all-->
                <div class="rubro">
                    <!--
                    <div class="progress mt-3">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 85%;"
                            aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">Escritura</div>
                    </div>
                    <div class="progress mt-3">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 65%;"
                            aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">Lectura</div>
                    </div>
                    <div class="progress mt-3">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 80%;"
                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Pronunciación</div>
                    </div>
                    -->
                    <label for="progress-escritura">Escritura</label> <br>
                    <progress id="progress-escritura" max="100" value="85">Escritura</progress> <br>

                    <label for="progress-lectura">Lectura</label> <br>
                    <progress id="progress-lectura" max="100" value="65">Escritura</progress> <br>

                    <label for="progress-pronunciacion">Pronunciacion</label> <br>
                    <progress id="progress-pronunciacion" max="100" value="80">Pronunciacion</progress> <br>
                </div>
            </div>
            
            
            
        </div>
        
    </section>
</div>

{% endblock %}