{% extends 'main_template.html' %}

{% load static %}

{% block title %} Crea una cuenta {% endblock %}

{% block navbar %} {% include 'navbar.html' %} {% endblock %}

{% block content %}
<!-- REGISTER FORM -->

<div class="row main-form-container">
    <div class="mt-4 mb-2 center">
        <h2>Crea una cuenta</h2>
    </div>

    <div class="px-5">
        <form id="form_login" autocomplete="off" method="POST">
            {% csrf_token %}

            <div>
                <div class="mb-2 mt-2">
                    <label for="username" class="mb-1">Nombre de usuario</label>
                    <input name="username" class="form-control" type="text" placeholder="Nombre de usuario" required>
                </div>
                <div class="mb-2 mt-2">
                    <label for="email" class="mb-1">Correo electrónico</label>
                    <input name="email" class="form-control" type="email" placeholder="correo@mail.com" required>
                </div>
                <div class="mb-2">
                    <label for="password1" class="mb-1">Contraseña</label>
                    <div class="form-control pass">
                        <input name="password1" class="" type="password" placeholder="Contraseña" id="password1"
                            required>
                        <span id="btn_eye1">
                            <i class="fa fa-eye-slash" id="eye_1"></i>
                            <!--<i class="fa-solid fa-eye"></i>-->
                        </span>
                    </div>
                </div>

                <div class="mb-2">
                    <label for="password2" class="mb-1">Confirmar contraseña</label>
                    <div class="form-control pass">
                        <input name="password2" class="" type="password" placeholder="Confirmar contraseña"
                            id="password2" required>
                        <span id="btn_eye2">
                            <i class="fa fa-eye-slash" id="eye_2"></i>
                            <!--<i class="fa-solid fa-eye"></i>-->
                        </span>
                    </div>
                </div>

                <div class="mb-2" id="mensajes_pass" hidden>
                    <div id="form_message">
                        <div class="alert alert-warning">
                            <ul>
                                <li id="match">Las contraseñas no coinciden</li>
                                <li id="num_y_letra">La contraseña debe incluir al menos un número y una letra</li>
                                <li id="longitud">La contraseña debe tener al menos 8 carácteres</li>
                                <li id="no12345678">La contraseña no debe ser 12345678</li>
                            </ul>


                        </div>
                    </div>
                </div>

                <div class="mb-2">
                    <div id="form_message">
                        {% if state == '1' %}
                        <div class="alert alert-success">
                            Registro exitoso
                        </div>
                        {% else %}
                        {% endif %}
                    </div>
                </div>
                <hr>
            </div>
            <div class="center">
                <button type="submit" class="btn btn-primary" id="btn_registrarse" disabled>Registrarse</button>
            </div>
        </form>
        <hr>
        <p>¿Ya tiene una cuenta? <a href="{% url 'login' %}" id="sign_in" class="text-primary">Iniciar sesión</a></p>
        <br>
    </div>
</div>


<script src="{% static 'js/register.js' %}"></script>

{% endblock %}