.flashcards_collection {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.flashcard_collection_container {
	background-color: var(--yellow);
	border-radius: 20px;
	display: inline-block;
	margin: 1.25rem;
	padding: 1rem;
	width: 250px;
	position: relative;
}

.flashcard_collection_container a {
	text-decoration: none;
	color: inherit;
	display: inline-block;
	width: 100%;
	height: 100%;
}

.flash_title {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.5rem;
}

.action-buttons {
	width: 50px;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: absolute;
	right: 0;
	top: 0;
}
.action-buttons button:hover {
	cursor: pointer;
}

.flashcard_collection_container h3 {
	font-size: 1rem;
	font-weight: 500;
	width: 85%;
	text-align: center;
}

.flashcard_collection_container hr {
	color: #585800;
}

.flashcard_collection_container p {
	font-size: 0.8rem;
	color: #464646;
}

.action-buttons button {
	z-index: 10;
	font-size: 0.8rem;
	border-radius: 50%;
	width: 26px;
	height: 26px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0.5rem;
}
.action-buttons button i {
	display: inline-block;
}

.flashcards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.flashcard-container {
	position: relative;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.flashcard-front,
.flashcard-back {
	background-color: var(--yellow);
	border-radius: 20px;
	display: inline-block;
	margin: 1.25rem;
	padding: 1rem;
	width: 250px;
}
.flashcard-front:hover {
	cursor: pointer;
}

.flashcard-menu-container .dropdown {
	position: absolute;
	top: 5px;
	right: 5px;
}

.flashcard-shadow {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
		rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.flashcard-shadow:hover {
	background-color: #ffff71;
}

.flashcard-menu-button {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0);
	border: none;
}
.flashcard-menu-button i {
	font-size: 1rem;
	color: rgb(98, 98, 98);
}

.flashcard-menu-button:hover {
	background-color: rgba(0, 0, 0, 0.25);
}
.flashcard-menu-button:hover i {
	color: #fff;
}
.flashcard-menu-button:focus {
	box-shadow: none;
	outline: none;
	background-color: rgba(0, 0, 0, 0.25);
}
.flashcard-menu-button:focus i {
	color: #fff;
}

.flashcard-menu {
	list-style: none;
}

.flashcard-menu li button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.flashcard-menu li button:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.flashcard-menu li button span {
	font-size: 0.9rem;
	margin-right: 8px;
}
.flashcard-menu li button p {
	font-size: 0.9rem;
}
