.flashcards_collection {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.flashcard_collection_container {
	border: 1px solid var(--yellow-active);
	background-color: var(--yellow);
	border-radius: 20px;
	display: inline-block;
	margin: 1.25rem;
	padding: 1rem;
	width: 250px;
	position: relative;
}

.flashcard_collection_container a {
	text-decoration: none;
	color: inherit;
	display: inline-block;
	width: 100%;
	height: 100%;
}

.flash_title {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.5rem;
}

.action-buttons {
	width: 50px;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: absolute;
	right: 0;
	top: 0;
}
.action-buttons button:hover {
	cursor: pointer;
}

.flashcard_collection_container h3 {
	font-size: 1rem;
	font-weight: 500;
}
.flashcard_collection_container p {
	font-size: 0.8rem;
	color: var(--c-disabled);
}

.action-buttons button {
	z-index: 10;
	font-size: 0.8rem;
	border-radius: 50%;
	width: 26px;
	height: 26px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0.5rem;
}
.action-buttons button i {
	display: inline-block;
}

.flashcards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.flashcard-container {
	position: relative;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.flashcard-front,
.flashcard-back {
	background-color: var(--yellow);
	border-radius: 20px;
	display: inline-block;
	margin: 1.25rem;
	padding: 1rem;
	width: 250px;
}
.flashcard-front:hover {
	cursor: pointer;
}
