/*Quit icon of dropdown only in custom btn*/
.dropdown-btn.dropdown-toggle::after {
	display: none !important;
}

.filter-button,
.search-bar {
	display: flex;
	height: 2.5em;
	margin: 1rem;
	align-items: center;
	justify-content: space-between;
	padding: 0 16px;
	border-radius: 8px;
	background-color: #fff;
	color: #ff5f13;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	border: none;
}

.filter-button {
	cursor: pointer;
}

.filter-button:hover {
	background-color: #fff;
	color: #ff5f13;
}

.search-bar {
	cursor: text;
	outline: none;
	width: 100%;
}
.search-bar:focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 95, 19, 0.5);
}

.dropdown-container {
	position: relative;
	width: 100%;
	max-width: 250px;
	margin: 1rem;
}
.dropdown-btn {
	display: flex;
	height: 2.5em;
	align-items: center;
	justify-content: space-between;
	padding: 0 16px;
	border-radius: 8px;
	cursor: pointer;
	background-color: #fff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-grid-items input[type="checkbox"] {
	opacity: 0;
	display: none;
}

.dropdown-grid-items input[type="radio"] {
	opacity: 0;
	display: none;
}

.dropdown-btn .btn-text {
	font-size: 17px;
	font-weight: 400;
	color: #333;
	margin-right: 10px;
}
.dropdown-btn .arrow-dwn,
.dropdown-btn .left-icon {
	display: flex;
	height: 21px;
	width: 21px;
	color: #fff;
	font-size: 14px;
	border-radius: 50%;
	background: #ff5f13;
	align-items: center;
	justify-content: center;
	transition: 0.3s;
}
.dropdown-btn.show .arrow-dwn {
	transform: rotate(-180deg);
}
.dropdown-grid-items {
	position: absolute;
	width: 100%;
	z-index: 20;
	display: none;
	margin-top: 15px;
	border-radius: 8px;
	padding: 16px;
	background-color: #fff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.dropdown-btn.show ~ .dropdown-grid-items {
	display: inline-block;
}
.dropdown-grid-items .item {
	align-items: center;
	list-style: none;
	min-height: 2.5em;
	max-width: 200px;
	cursor: pointer;
	transition: 0.3s;
	padding: 0 15px;
	border-radius: 8px;

	display: grid;
	grid-template-columns: 16px minmax(0, 1fr);
	gap: 5px;
}
.dropdown-grid-items .item:hover {
	background-color: #fef3e7;
}
.item .item-text {
	overflow-wrap: break-word;
	font-size: 16px;
	font-weight: 400;
	color: #333;
}
.item .checkbox,
.item .radio {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 16px;
	width: 16px;
	margin-right: 12px;
	border: 1.5px solid #c0c0c0;
	transition: all 0.3s ease-in-out;
}
.item.checked .checkbox,
.item.checked .radio {
	background-color: #ff5f13;
	border-color: #ff5f13;
}

.checkbox .check-icon,
.radio .radio-icon {
	margin: auto;
	color: #fff;
	font-size: 12px;
	transform: scale(0);
	transition: all 0.2s ease-in-out;
}

.item.checked .check-icon,
.item.checked .radio-icon {
	transform: scale(1);
}

.item .checkbox {
	border-radius: 4px;
}
.item .radio {
	border-radius: 50%;
}

.item label {
	display: none;
}
