.filter-button {
	display: flex;
	height: 2.5rem;
	margin: auto;
	align-items: center;
	justify-content: space-between;
	border-radius: 8px;
	background-color: #fff;
	color: var(--primary);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	border: none;
}

.form-sub-container {
	display: flex;
	width: 100%;
	margin: 0.5rem 0 0.5rem 0;
	align-items: center;
	justify-content: center;
}

.filter-button {
	cursor: pointer;
	display: inline-block;
	margin: 0rem 1rem 0rem 1rem;
	width: 40px;
}

.filter-button:hover {
	background-color: #fff;
	color: var(--primary);
}

/*Search bar*/
.search-bar {
	width: 100%;
	height: 2.5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: #333;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.search-bar .text-input {
	width: 100%;
	height: 100%;
	margin: auto;
}
.search-bar .text-input input {
	width: 100%;
	border: none;
	outline: none;
	height: 100%;
}

.search-bar .text-input input:focus {
	border: none;
}

.search-bar .icon-left,
.search-bar .icon-right {
	margin: 0;
	min-width: 40px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--primary);
}

/* Search bar */

.dropdown-container {
	position: relative;
	width: 100%;
	max-width: 100%;
	min-width: 200px;
}
.dropdown-btn {
	display: flex;
	height: 2.5rem;
	align-items: center;
	width: inherit;
	border: none;
	justify-content: space-between;
	padding: 0 16px;
	border-radius: 8px;
	cursor: pointer;
	background-color: #fff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.dropdown-grid-items input[type="checkbox"] {
	opacity: 0;
	display: none;
}

.dropdown-grid-items input[type="radio"] {
	opacity: 0;
	display: none;
}

.dropdown-btn .btn-text {
	font-size: 1rem;
	font-weight: 400;
	color: #333;
}
.dropdown-btn .arrow-dwn,
.dropdown-btn .left-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 21px;
	width: 21px;
	color: #fff;
	font-size: 0.9rem;
	border-radius: 50%;
	background: var(--primary);
	transition: 0.3s;
}
.dropdown-btn.show .arrow-dwn {
	transform: rotate(-180deg);
}
.dropdown-grid-items {
	position: absolute;
	width: 100%;
	z-index: 20;
	display: none;
	margin-top: 15px;
	border-radius: 8px;
	padding: 16px;
	background-color: #fff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.dropdown-btn.show ~ .dropdown-grid-items {
	display: inline-block;
	max-height: 60vh;
	overflow-y: scroll;
}

.dropdown-grid-items .item {
	align-items: center;
	list-style: none;
	min-height: 2.5em;
	cursor: pointer;
	transition: 0.3s;
	padding: 0 15px;
	border-radius: 8px;

	display: grid;
	grid-template-columns: 16px minmax(0, 1fr);
	gap: 3px;
}
.dropdown-grid-items .item:hover {
	background-color: #fef3e7;
}
.item .item-text {
	overflow-wrap: break-word;
	max-width: fit-content;
	font-size: 0.9rem;
	font-weight: 400;
	color: #333;
}
.item .checkbox,
.item .radio {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 16px;
	width: 16px;
	margin-right: 12px;
	border: 1.5px solid #c0c0c0;
	transition: all 0.3s ease-in-out;
}
.item.checked .checkbox,
.item.checked .radio {
	background-color: var(--primary);
	border-color: var(--primary);
}

.checkbox .check-icon,
.radio .radio-icon {
	margin: auto;
	color: #fff;
	font-size: 12px;
	transform: scale(0);
	transition: all 0.2s ease-in-out;
}

.item.checked .check-icon,
.item.checked .radio-icon {
	transform: scale(1);
}

.item .checkbox {
	border-radius: 4px;
}
.item .radio {
	border-radius: 50%;
}

.item label {
	display: none;
}

.filter-button,
.dropdown-btn,
.search-bar {
	outline: 1px solid var(--primary);
	border-radius: 20px;
}
