<div class="col-12 text-center">
  <div class="card-body table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th class="fs-5 fw-bold">Recommender type</th>
          <th class="fs-5 fw-bold">Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- Row for content based recommender -->
        <tr>
          <td>
            <p>Content based recommender</p>
          </td>
          <td>
            <div class="d-inline-block">
              <button onclick="updateCBRecommender()" class="btn fs-5 p-2 action-btn m-2 hover-scale"
                style="background-color: #77b9fc;" title="Update content based recommender">
                <span style="color: #fff;"><i class="fa-solid fa-arrows-rotate"></i></span>
              </button>
            </div>
          </td>
        </tr>
        <!-- End of row for user based recommender -->

        <!-- Row for user based recommender -->
        <tr>
          <td>
            <p>User based recommender</p>
          </td>
          <td>
            <div class="d-inline-block">
              <button onclick="updateUBRecommender()" class="btn fs-5 p-2 action-btn m-2 hover-scale"
                style="background-color: #77b9fc;" title="Update user based recommender">
                <span style="color: #fff;"><i class="fa-solid fa-arrows-rotate"></i></span>
              </button>
            </div>
          </td>
        </tr>
        <!-- End of row for user based recommender -->

      </tbody>
    </table>
  </div>
</div>