<div class="row mt-3">
  <div class="col-12 text-center">
    <a class="btn fw-bold hover-scale m-1" style="color: #fff; background-color: #ff5f13; border-radius: 10px;"
      href="{% url 'add_tag' %}" role="button">
      + Add new tag</a>
  </div>
</div>
<div class="col-12 text-center">
  <div class="card-body table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th class="fs-5 fw-bold">ID</th>
          <th class="fs-5 fw-bold">English name</th>
          <th class="fs-5 fw-bold">Spanish name</th>
          <th class="fs-5 fw-bold">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for tag in tags %}
        <tr>
          <td>{{ tag.id }}</td>
          <td>{{ tag.name1 }}</td>
          <td>{{ tag.name2 }}</td>

          <td>
            <div class="d-inline-block">
              <a class="btn fs-5 p-2 action-btn m-2 hover-scale" href="{% url 'edit_tag' tag.id %}"
                style="background-color: #77b9fc;" role="button" title="Edit tag">
                <span style="color: #fff;"><i class="fas fa-pen"></i></span>
              </a>

              <a class="btn fs-5 p-2 action-btn m-2 hover-scale" href="{% url 'delete_tag' tag.id %}" role="button"
                title="Delete tag" style="background-color: #f53126;">
                <span style="color: #fff"><i class="fas fa-trash"></i></span>
              </a>

            </div>

          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>