{% extends 'main_template.html' %}
{% load static %}

{% block title %} {{ story.title }} {% endblock %}

{% block page-styles %}
<link rel="stylesheet" href="{% static 'css/admin/create_page.css' %}">
{% endblock %}

{% block content %}

{% if page_type == 1 %}
{% include 'admin/create_page/template_1.html' %}
{% elif page_type == 2 %}
{% include 'admin/create_page/template_2.html' %}
{% endif %}

<div class="container">
  <div class="cancel-save-container">
    <a href="{% url 'view_pages' story.route %}" class="btn btn-danger shadow-none fw-bold w-100" type="button">
      Cancelar</a>
    <button class="btn btn-primary shadow-none fw-bold w-100" onclick="savePage()">Guardar</button>
  </div>
</div>


{% endblock %}

{% block page-scripts %}

<script>
  const URL_SAVE_PAGE = `{% url 'add_page' route=story.route page_type=page_type %}`;
  const URL_VIEW_PAGES = `{% url 'view_pages' route=story.route %}`;

  let page_id = '{{ page.id }}';
  console.log()
  let page_type = '{{ page_type }}' || -1;

  let default_cover = '{{ story.cover.url }}';
  let db_videos = [];
  let db_images = [];
  let db_texts = [];
  let db_dialogues = [];
  let db_repeat_phrases = [];
  let db_spellchecks = [];
  let db_mc_questions = [];

  try {
    db_videos = JSON.parse('{{ videos |safe }}');
  } catch (e) { }
  try {
    db_images = JSON.parse('{{ images_json |safe }}');
  } catch (e) { }
  try {
    db_texts = JSON.parse('{{ texts |safe |escapejs }}');
  } catch (e) { }
  try {
    db_dialogues = JSON.parse('{{ dialogues |safe |escapejs }}');
  } catch (e) { }
  try {
    db_repeat_phrases = JSON.parse('{{ repeat_phrases |safe |escapejs  }}');
  } catch (e) { }
  try {
    db_spellchecks = JSON.parse('{{ spellchecks |safe |escapejs  }}');
  } catch (e) { }
  try {
    db_mc_questions = JSON.parse('{{ mc_questions |safe |escapejs  }}');
  } catch (e) { }

  /* Initialize max_elem */
  let max_elem = 0;

</script>

<script src="{% static 'js/add_page/content.js' %}"></script>
<script src="{% static 'js/add_page/exercises.js' %}"></script>
<script src="{% static 'js/add_page/add_page.js' %}"></script>
<script src="{% static 'js/sort_collections.js' %}"></script>
<script>
  function verifyVideo(element_number) {
    element = document.getElementById('element_' + element_number);

    url = element.querySelector('[name = url]').value;
    video_showed_container = element.querySelector('.video-showed');
    video = video_showed_container.children[0];

    valid_url = validateUrl(url);
    if (valid_url !== "") {
      video.src = valid_url;
      video_showed_container.classList.remove("d-none");
    }
    else {
      video_showed_container.classList.add("d-none");
    }
  }

  function validateUrl(url) {
    if (url.startsWith("https://www.youtube.com/embed/"))
      return url;
    if (url.startsWith("https://www.youtube.com/watch?v=")) {
      code = url.split("https://www.youtube.com/watch?v=")[1];
      return "https://www.youtube.com/embed/" + code;
    }
    if (url.startsWith("https://youtu.be/")) {
      code = url.split("https://youtu.be/")[1];
      return "https://www.youtube.com/embed/" + code;
    }
    return "";
  }

</script>
<script>
  if (page_id !== "") {
    sortCollections();
    loadPage();
    console.log(db_mc_questions);
  }
  else {
    if (page_type == 2)
      addVideo();
  }

  function loadPage() {
    if (page_type == 1) {
      if (db_images.length > 0)
        default_cover = db_images[0].image;
    }
    // Render document
    for (let element of collections_sorted) {
      element.element_number = max_elem;
      switch (element.type) {
        case "image":
          max_elem++;
          break;
        case "video":
          loadVideo(element);
          break;
        case "text":
          loadText(element);
          break;
        case "dialogue":
          loadDialogue(element);
          break;
        case "repeat_phrase":
          loadRepeatPhrase(element);
          break;
        case "spellcheck":
          loadSpellcheck(element);
          break;
      }
    }
  }

  function loadVideo(video) {
    addVideo();
    let html_video = document.getElementById("element_" + (max_elem - 1));
    html_video.querySelector('[name = id]').value = video.id;
    html_video.querySelector('[name = url]').value = video.url;
    verifyVideo(max_elem - 1);
  }

  function loadText(text) {
    addText();
    let html_text = document.getElementById("element_" + (max_elem - 1));

    html_text.querySelector('[name = id]').value = text.id;
    html_text.querySelector('[name = language1]').value = text.language1;
    html_text.querySelector('[name = language2]').value = text.language2;
  }

  function loadDialogue(dialogue) {
    // add dialogue increases in 1 the id
    addDialogue();
    let html_dialogue = document.getElementById("element_" + (max_elem - 1));

    html_dialogue.querySelector('[name = id]').value = dialogue.id;
    html_dialogue.querySelector('[name = name]').value = dialogue.name;
    html_dialogue.querySelector('[name = color]').value = dialogue.color;
    html_dialogue.querySelector('[name = language1]').value = dialogue.content1;
    html_dialogue.querySelector('[name = language2]').value = dialogue.content2;

    $(".ch-color_" + (max_elem - 1)).css({ 'color': dialogue.color });
  }

  function loadRepeatPhrase(repeat_phrase) {
    repeatPhrase();
    let html_repeat_phrase = document.getElementById("element_" + (max_elem - 1));

    html_repeat_phrase.querySelector('[name = id]').value = repeat_phrase.id;
    html_repeat_phrase.querySelector('[name = language1]').value = repeat_phrase.content1;
    html_repeat_phrase.querySelector('[name = language2]').value = repeat_phrase.content2;
    html_repeat_phrase.querySelector('[name = show_text]').checked = repeat_phrase.show_text;
  }

  function loadSpellcheck(spellcheck) {
    addSpellcheck();
    let html_spellcheck = document.getElementById("element_" + (max_elem - 1));

    html_spellcheck.querySelector('[name = id]').value = spellcheck.id;
    html_spellcheck.querySelector('[name = wrong_text]').value = spellcheck.wrong_text;
    html_spellcheck.querySelector('[name = right_text]').value = spellcheck.right_text;
    html_spellcheck.querySelector('[name = translated_right_text]').value = spellcheck.translated_right_text;
  }


</script>



{% endblock %}