{% extends 'main_template.html' %}
{% load static %}
{% load filters %}

{% block title %} Admin Story Quest {% endblock %}

{% block page-styles %}
<link rel="stylesheet" href="{% static 'css/admin/index1.css' %}">
{% endblock %}

{% block content %}
<div class="alert alert-success alert-dismissible fade alert-fixed" role="alert">
	<div style="text-align: center;">
		<strong></strong>
	</div>
	<button type="button" class="btn-close" onclick="closeAlert()"></button>
</div>

<div class="container main-content">
	<div class="row mt-3">
		<div class="col-12 text-center">
			<h1 class="fs-2">Admin</h1>
		</div>
	</div>

	<div class="tab-titles remember-tab">
		<ul class="nav nav-tabs">
			<li class="nav-item" role="presentation">
				<a class="nav-link active" aria-current="page" href="#stories" aria-controls="stories" role="tab"
					data-bs-toggle="tab" onclick="">Stories</a>
			</li>
			<li class="nav-item" role="presentation">
				<a class="nav-link" href="#tags" aria-controls="tags" role="tab" data-bs-toggle="tab" onclick="">Tags</a>
			</li>
			<li class="nav-item" role="presentation">
				<a class="nav-link" href="#recommenders" aria-controls="tags" role="tab" data-bs-toggle="tab"
					onclick="">Recommenders</a>
			</li>
		</ul>
	</div>

	<div class="tab-content remember-tab">

		<!-- Stories-->
		<div class="row tab-pane active" role="tabpanel" id="stories">
			<div class="row my-3">
				<div class="col-12 text-center">
					<a class="btn fw-bold hover-scale m-1" style="color: #fff; background-color: #ff5f13; border-radius: 10px;"
						href="{% url 'add_story' %}" role="button">
						+ Add new story</a>
				</div>
			</div>
			<div>
				<hr>
				{% include 'utils/filter_form.html' %}
				<hr>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="select-rows">
						<select class="form-select select" aria-label="Select rows number" id="select_items_number">

							<option value="5" '{% if filter_form.items_number == 5 %}' selected '{% endif %}'>5 rows</option>
							<option value="10" '{% if filter_form.items_number == 10 %}' selected '{% endif %}'>10 rows</option>
							<option value="15" '{% if filter_form.items_number == 15 %}' selected '{% endif %}'>15 rows</option>

							{% with '5 10 15' as values %}
							<option '{% if not filter_form.items_number|to_str in values.split %}' selected '{% endif %}'
								value="{{ filter_form.items_number }}" id="option_other_items_number">Other</option>
							{% endwith %}

						</select>
						<div class="custom-rows-number">
							<label for="input_items_number">Rows:</label>
							<input type="number" id="input_items_number">
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 text-center">
				<div class="card-body table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th class="fs-5 fw-bold">Cover</th>
								<th class="fs-5 fw-bold">Info</th>
								<th class="fs-5 fw-bold">Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for story in stories %}
							<tr>
								<td class="text-center w-33">
									<div class="img-admin-container w-75 d-inline-block">
										<img class="img-admin-img p-1" src="{{ story.cover.url }}" alt="{{ story.cover }}">
									</div>
								</td>
								<td class="text-center w-33">
									<div class="text-start d-inline-block">
										<p><span class="fw-bold" style="color: #77b9fc;">Title:</span>
											{{ story.title1 }}
										</p>
										<p><span class="fw-bold" style="color: #77b9fc;">Description:</span>
											{{ story.description1 |default:'Not provided' }}</p>
										<p><span class="fw-bold" style="color: #77b9fc;">Likes:</span>
											{{ story.likes_number }}</p>
										<p><span class="fw-bold" style="color: #77b9fc;">Pages:</span>
											{{ story.pages.all.count }}
										</p>
										<p>
											<span class="fw-bold" style="color: #77b9fc;">Tags:</span>

											<span class="d-inline-block">
												<ul>
													{% for t in story.tags.all %}
													<li>{{ t.name1 }}</li>
													{% empty %}
													<li>No tags provided</li>
													{% endfor %}
												</ul>
											</span>
										</p>
									</div>
								</td>
								<td class="w-33">
									<div class="d-inline-block">
										<a class="btn fs-5 p-2 action-btn m-2 hover-scale" href="{% url 'edit_story' story.id %}"
											style="background-color: #77b9fc;" role="button" title="Edit story">
											<span style="color: #fff;"><i class="fas fa-pen"></i></span>
										</a>

										<a class="btn fs-5 p-2 action-btn m-2 hover-scale" href="{% url 'view_pages' story.route %}"
											role="button" title="Edit pages" style="background-color: #3343f8;">
											<span style="color: #fff"><i class="fas fa-file-pen"></i></span>
										</a>

										<a class="btn fs-5 p-2 action-btn m-2 hover-scale" href="{% url 'delete_story' story.id %}"
											role="button" title="Delete story" style="background-color: #f53126;">
											<span style="color: #fff"><i class="fas fa-trash"></i></span>
										</a>

									</div>

								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div>
				{% include 'utils/page_enumerator.html' %}
			</div>
		</div>
		<!-- End stories-->

		<!-- Tags table -->
		<div class="row tab-pane" role="tabpanel" id="tags">
			{% include 'admin/admin_tags.html' %}
		</div>
		<!-- End tags table -->

		<!-- Recommenders -->
		<div class="row tab-pane" role="tabpanel" id="recommenders" style="min-height: 50vh;">
			{% include 'admin/admin_recommender.html' %}
		</div>
		<!-- End recommenders -->
	</div>
</div>
{% endblock %}

{% block page-scripts %}
<script>
	const URL_UPDATE_CB_RECOMMENDER = '{% url "update_cb_recommender" %}';
	const URL_UPDATE_UB_RECOMMENDER = '{% url "update_ub_recommender" %}';
</script>
<script>

	let select_items_number = document.getElementById('select_items_number');
	let input_items_number = document.getElementById('input_items_number');
	let option_other_items_number = document.getElementById('option_other_items_number');
	let form_items_number = document.getElementById('form_items_number');

	// Initialize - put to input the selected option
	input_items_number.value = select_items_number.value;
	// Display input if any of three above options was selected
	if (option_other_items_number.selected)
		input_items_number.parentElement.classList.add('d-inline-block');

	// On change <select> value when value changes
	select_items_number.addEventListener('change', (e) => {
		form_items_number.value = select_items_number.value;
		if (option_other_items_number.selected)
			input_items_number.parentElement.classList.add('d-inline-block');
		else
			input_items_number.parentElement.classList.remove('d-inline-block');
	});


	$("#form_items_number").val(select_items_number.value);

	$("#input_items_number").on('input propertychange', (e) => {
		form_items_number.value = e.target.value;
	});

	input_items_number.addEventListener('keydown', (e) => {
		let key = e.keyCode || e.which;
		if (key == 13) // Code for enter
			document.getElementById('submit_filter_form_btn').click();
	});


	function updateCBRecommender() {
		const csrftoken = getCookie('csrftoken');
		$.ajax({
			type: "POST",
			url: URL_UPDATE_CB_RECOMMENDER,
			headers: { "X-CSRFToken": csrftoken },
			success: function (response) {
				//console.log(response);
				if (response.message == 'success') {
					let alert_success = document.querySelector('.alert-success');
					alert_success.querySelector('strong').innerText = "Content based recommender updated successfully";
					alert_success.classList.add('show');
				}
			},
			error: function (response) {
				//console.log(response);
			}
		});
	}

	function updateUBRecommender() {
		const csrftoken = getCookie('csrftoken');
		$.ajax({
			type: "POST",
			url: URL_UPDATE_UB_RECOMMENDER,
			headers: { "X-CSRFToken": csrftoken },
			success: function (response) {
				//console.log(response);
				if (response.message == 'success') {
					let alert_success = document.querySelector('.alert-success');
					alert_success.querySelector('strong').innerText = "User based recommender updated successfully";
					alert_success.classList.add('show');
				}
			},
			error: function (response) {
				//console.log(response);
			}
		});
	}

	function closeAlert() {
		let alert_success = document.querySelector('.alert-success');
		alert_success.classList.remove('show');
	}
</script>
{% endblock %}