{% extends 'main_template.html' %}
{% load static %}

{% block title %} Admin Story Quest {% endblock %}

{% block page-styles %}
<link rel="stylesheet" href="{% static 'css/admin/index1.css' %}">
{% endblock %}

{% block content %}
<div class="container main-content">
	<div class="row mt-3">
		<div class="col-12 text-center">
			<h1 class="fs-2">Admin</h1>
		</div>
	</div>

	<div class="row mt-3">
		<div class="col-12 text-center">
			<a class="btn fw-bold hover-scale m-1" style="color: #fff; background-color: #ff5f13; border-radius: 10px;"
				href="{% url 'add_story' %}" role="button">
				+ Add new story</a>

			<a class="btn fw-bold hover-scale m-1" style="color: #fff; background-color: #f2864b; border-radius: 10px;"
				href="{% url 'add_tag' %}" role="button">
				+ Add new tag</a>
		</div>
	</div>

	<div class="tab-titles remember-tab">
		<ul class="nav nav-tabs">
			<li class="nav-item" role="presentation">
				<a class="nav-link active" aria-current="page" href="#stories" aria-controls="stories" role="tab"
					data-bs-toggle="tab" onclick="">Stories</a>
			</li>
			<li class="nav-item" role="presentation">
				<a class="nav-link" href="#tags" aria-controls="tags" role="tab" data-bs-toggle="tab" onclick="">Tags</a>
			</li>
			<li class="nav-item" role="presentation">
				<a class="nav-link" href="#recommenders" aria-controls="tags" role="tab" data-bs-toggle="tab"
					onclick="">Recommenders</a>
			</li>
		</ul>
	</div>

	<div class="tab-content remember-tab">
		<!-- Stories table-->
		<div class="row tab-pane active" role="tabpanel" id="stories">
			<div class="col-12 text-center">
				<div class="card-body table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th class="fs-5 fw-bold">Cover</th>
								<th class="fs-5 fw-bold">Info</th>
								<th class="fs-5 fw-bold">Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for story in stories %}
							<tr>
								<td class="text-center w-33">
									<div class="img-admin-container w-75 d-inline-block">
										<img class="img-admin-img p-1" src="{{ story.cover.url }}" alt="{{ story.cover }}">
									</div>
								</td>
								<td class="text-center w-33">
									<div class="text-start d-inline-block">
										<p><span class="fw-bold" style="color: #77b9fc;">Title:</span>
											{{ story.title1 }}
										</p>
										<p><span class="fw-bold" style="color: #77b9fc;">Description:</span>
											{{ story.description1 |default:'Not provided' }}</p>
										<p><span class="fw-bold" style="color: #77b9fc;">Likes:</span>
											{{ story.likes_number }}</p>
										<p><span class="fw-bold" style="color: #77b9fc;">Pages:</span>
											{{ story.pages.all.count }}
										</p>
										<p>
											<span class="fw-bold" style="color: #77b9fc;">Tags:</span>

											<span class="d-inline-block">
												<ul>
													{% for t in story.tags.all %}
													<li>{{ t.name1 }}</li>
													{% empty %}
													<li>No tags provided</li>
													{% endfor %}
												</ul>
											</span>
										</p>
									</div>
								</td>
								<td class="w-33">
									<div class="d-inline-block">
										<a class="btn fs-5 p-2 action-btn m-2 hover-scale" href="{% url 'edit_story' story.id %}"
											style="background-color: #77b9fc;" role="button" title="Edit story">
											<span style="color: #fff;"><i class="fas fa-pen"></i></span>
										</a>

										<a class="btn fs-5 p-2 action-btn m-2 hover-scale" href="{% url 'view_pages' story.route %}"
											role="button" title="Edit pages" style="background-color: #3343f8;">
											<span style="color: #fff"><i class="fas fa-file-pen"></i></span>
										</a>

										<a class="btn fs-5 p-2 action-btn m-2 hover-scale" href="{% url 'delete_story' story.id %}"
											role="button" title="Delete story" style="background-color: #f53126;">
											<span style="color: #fff"><i class="fas fa-trash"></i></span>
										</a>


									</div>

								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- End stories table-->

		<!-- Tags table -->
		<div class="row tab-pane" role="tabpanel" id="tags">
			<div class="col-12 text-center">
				<div class="card-body table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th class="fs-5 fw-bold">ID</th>
								<th class="fs-5 fw-bold">English name</th>
								<th class="fs-5 fw-bold">Spanish name</th>
								<th class="fs-5 fw-bold">Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for tag in tags %}
							<tr>
								<td>{{ tag.id }}</td>
								<td>{{ tag.name1 }}</td>
								<td>{{ tag.name2 }}</td>

								<td>
									<div class="d-inline-block">
										<a class="btn fs-5 p-2 action-btn m-2 hover-scale" href="{% url 'edit_tag' tag.id %}"
											style="background-color: #77b9fc;" role="button" title="Edit tag">
											<span style="color: #fff;"><i class="fas fa-pen"></i></span>
										</a>

										<a class="btn fs-5 p-2 action-btn m-2 hover-scale" href="{% url 'delete_tag' tag.id %}"
											role="button" title="Delete tag" style="background-color: #f53126;">
											<span style="color: #fff"><i class="fas fa-trash"></i></span>
										</a>


									</div>

								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- End tags table -->

		<!-- Tags table -->
		<div class="row tab-pane" role="tabpanel" id="recommenders" style="min-height: 50vh;">
			<div class="col-12 text-center">
				<h2>Content based recommender</h2>
				<p>Update content based recommender <button onclick="updateCBRecommender()"><i
							class="fa-solid fa-arrows-rotate"></i></button></p>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block page-scripts %}
<script>
	const URL_UPDATE_CB_RECOMMENDER = '{% url "ub_recommender" %}';
</script>
<script>
	function updateCBRecommender() {
		const csrftoken = getCookie('csrftoken');
		$.ajax({
			type: "POST",
			url: URL_UPDATE_CB_RECOMMENDER,
			headers: { "X-CSRFToken": csrftoken },
			success: function (response) {
				console.log(response);
			},
			error: function (response) {
				//console.log(response);
			}
		});

	}
</script>
{% endblock %}