{% extends 'main_template.html' %}
{% load static %}
{% load filters %}

{% block title %} Reports {% endblock %}

{% block page-styles %}
<link rel="stylesheet" href="{% static 'css/admin/index_admin.css' %}">
<link rel="stylesheet" href="{% static 'css/reports.css' %}">
<link rel="stylesheet" href="{% static 'css/utils/custom_dropdown.css' %}">
{% endblock %}

{% block content %}
<div class="alert alert-success alert-dismissible fade alert-fixed" role="alert">
	<div style="text-align: center;">
		<strong></strong>
	</div>
	<button type="button" class="btn-close" onclick="this.parentElement.classList.remove('show');"></button>
</div>

<div id="ws_report_notifications_div" class="m-auto main-content" hx-ext="ws" ws-connect="/ws/report-notifications/">

	<div class="auto-update-container">
		<div class="">
			<div class="form-check form-switch">
				<input class="form-check-input shadow-none check-input-custom" type="checkbox" id="auto_update">
				<label class="form-check-label" for="auto_update" style="word-wrap: break-word; padding-right: 1rem;">Actualizar
					automáticamente</label>
			</div>
		</div>
	</div>
	<div class="reports-grid">
		<!-- Tabs -->
		<div class="report-tabs">
			<div class="report-tab-nav">
				<div class="tab-item" hx-get="{% url 'get_reports' %}" hx-swap="outerHTML" hx-target="#reports_table_body"
					title="Todos los reportes" id="get_all_btn" show="all">
					<span class="icon"><i class="fa-solid fa-flag"></i></span>
					<span class="text">Todos</span>
				</div>
				<div class="tab-item" hx-get="{% url 'get_reports' %}?status=unread" hx-swap="outerHTML"
					hx-target="#reports_table_body" title="Reportes no leídos" show="unread">
					<span class="icon"><i class="fa-solid fa-envelope"></i></span>
					<span class="text">No leídos</span>
				</div>
				<div class="tab-item" hx-get="{% url 'get_reports' %}?status=read" hx-swap="outerHTML"
					hx-target="#reports_table_body" title="Reportes leídos" show="read">
					<span class="icon"><i class="fa-solid fa-envelope-open"></i></span>
					<span class="text">Leídos</span>
				</div>

				<div class="tab-item" hx-get="{% url 'get_reports' %}?status=in_progress" hx-swap="outerHTML"
					hx-target="#reports_table_body" title="Reportes en revisión" show="in_progress">
					<span class="icon"><i class="fa-solid fa-screwdriver-wrench"></i></span>
					<span class="text">En revisión</span>
				</div>
				<div class="tab-item" hx-get="{% url 'get_reports' %}?status=fixed" hx-swap="outerHTML"
					hx-target="#reports_table_body" title="Reportes arreglados" show="fixed">
					<span class="icon"><i class="fa-solid fa-check"></i></span>
					<span class="text">Arreglados</span>
				</div>
			</div>
		</div>

		<!-- Table -->
		<div class="report-table">
			<div class="card-body table-responsive">

				<table class="table" id="reports_table">
					<tr style="border-bottom: rgba(0,0,0,0);">
						<td style="padding: 0;">
							<table class="table" style="margin-bottom: 0;">
								<tr>
									<th colspan="4" class="cell-header">
										<span class="update-button"><i class="fa-solid fa-rotate-right"></i></span>
										Reportes
										<span class="dropdown-right-position">
											<!-- <div style="width: 5px; height: 5px; background-color: red;"></div> -->
											<div class="dropdown">
												<button class="btn dropdown-toggle flashcard-menu-button" type="button" id="report_menu"
													data-bs-toggle="dropdown" aria-expanded="false">
													<i class="fa-solid fa-ellipsis-vertical"></i>
												</button>
												<!-- Dropdown menu -->
												<ul class="dropdown-menu" aria-labelledby="report_menu">
													<ul class="flashcard-menu">
														<li>
															<button class="btn shadow-none" type="button" onclick="changeStatusButton('unread')">
																<span style="color: var(--f-orange);"><i class="fa-solid fa-envelope"></i></span>
																<p>Marcar como no leído</p>
															</button>
														</li>
														<li>
															<button class="btn shadow-none" type="button" onclick="changeStatusButton('read')">
																<span style="color: var(--f-orange);"><i class="fa-solid fa-envelope-open"></i></span>
																<p>Marcar como leído</p>
															</button>
														</li>
														<li>
															<button class="btn shadow-none" type="button" onclick="changeStatusButton('in_progress')">
																<span style="color: var(--f-orange);">
																	<i class="fa-solid fa-screwdriver-wrench"></i></span>
																<p>Marcar en revisión</p>
															</button>
														</li>
														<li>
															<button class="btn shadow-none" type="button" onclick="changeStatusButton('fixed')">
																<span style="color: var(--f-orange);">
																	<i class="fa-solid fa-check"></i></span>
																<p>Marcar como arreglado</p>
															</button>
														</li>
														<li>
															<button class="btn shadow-none" type="button" onclick="openDeleteModal()">
																<span style="color: var(--f-orange);">
																	<i class="fa-solid fa-trash"></i>
																</span>
																<p>Eliminar</p>
															</button>
															<button class="d-none" type="button" data-bs-toggle="modal" id="open_delete_modal_button"
																data-bs-target="#modal_delete_reports"></button>

														</li>
													</ul>
												</ul>
												<!-- End of dropdown menu -->
											</div>
										</span>
									</th>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td>
							<div style="width:100%; height:50vh; overflow-y:auto;">
								<table class="table" id="reports_table_body_container">
									<tbody id="reports_table_body"></tbody>
								</table>
								<div id="report_content" class="d-none">

								</div>
							</div>


						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="row mt-3"></div>

	<!-- Modal for delete reports -->
	<div class="modal fade" id="modal_delete_reports" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title  col-11 text-center">¿Desea eliminar estos reportes?</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
				</div>
				<div class="modal-body">
					<p class="text-center text-primary">
						<span><i class="fa-solid fa-circle-info"></i></span>
						<span id="delete_text_info"></span>
					</p>
					<p class="text-center text-danger"><i class="fa-solid fa-triangle-exclamation"></i>
						Esta acción no se puede deshacer.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="deleteReportsButton()">
						Eliminar</button>
				</div>
			</div>
		</div>
	</div>
	<!-- End of modal for delete reports -->

</div>
{% endblock %}

{% block page-scripts %}
<script>
	document.querySelector('.admin_reports_link').classList.add('active');
</script>
<script>
	const URL_DELETE_REPORTS = "{% url 'delete_reports' %}";
	const URL_MODIFY_REPORTS_STATUS = "{% url 'modify_reports_status' %}";
</script>
<script src="{% static 'js/reports.js' %}"></script>
{% endblock %}