{% extends 'main_template.html' %}
{% load static %}

{% block title %} {{ story.title }} {% endblock %}

{% block page-styles %}
<link rel="stylesheet" href="{% static 'css/admin/view_pages.css' %}" type="text/css">
{% endblock %}

{% block content %}

<div class="container main-content">
  <div class="row mt-3">
    <div class="col-2 back-btn-container">
      <a href="{% url 'index_admin' %}" class="btn-back-next">
        <span><i class="fa-solid fa-arrow-left"></i></span>
      </a>
    </div>
    <div class="col-8 page-title-container">
      <h2 class="fs-2">Crear una nueva página</h2>
    </div>
  </div>
  <section class="my-3">
    <div class="row text-center">
      <div class="col col-12">

        <a class="template" href="{% url 'add_page' story.route 1 %}">
          <div class="t1-p1">
            <div class="box-t1-1">
              <img src="{% static 'img/image-icon.png' %}" alt="Default image">
            </div>
            <div class="box-t1-2">
              <span class="t1-line-s"></span>
              <span class="t1-line-s"></span>
              <span class="t1-line-s"></span>
            </div>
          </div>
          <div class="t1-p2">
            <div class="box-t1-3">
              <span class="t1-line-l"></span>
              <span class="t1-line-lb"></span>
              <span class="t1-line-l"></span>
            </div>
          </div>
          <div class="t1-p3">
            <div class="box-t1-4">
              <img src="{% static 'img/test.png' %}" alt="Default image">
            </div>
          </div>
          <p>
            #1: Plantilla general
          </p>
        </a>
      </div>
    </div>
  </section>

  <hr>

  <section class="my-3">
    <div class="mt-3" id="alert_removed_success"></div>
    <div class="row">
      <div class="col-12">
        <h2 class="fs-2 fw-bold text-center">Páginas actuales</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <div class="table-responsive">
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th class="fs-5">#</th>
                  <th class="fs-5">Nombre</th>
                  <th class="fs-5">Tipo</th>
                  <th class="fs-5">Acciones</th>
                </tr>
              </thead>
              <tbody class="align-middle">
                {% if pages %}
                {% for p in pages %}
                <tr id="rowp_{{ p.id }}">
                  <td class="fs-6">#{{ forloop.counter }}</td>
                  <td class="fs-6">{{ p.subtitle1 |default:'Página nueva' }}</td>
                  <td class="fs-6">{{ p.page_type }}</td>
                  <td class="fs-6">
                    <!-- Link to edit -->
                    <div class="d-block d-sm-inline-block m-1">
                      <a class="btn btn-info" href="{% url 'edit_page' story.route p.page_type p.id %}" type="button"
                        title="Editar">
                        <i class='fa-solid fa-pen' style='color: white'></i>
                      </a>
                    </div>
                    <!-- fin del modal para editar -->

                    <!-- modal para borrar -->
                    <div class="d-block d-sm-inline-block m-1">
                      <button class="btn btn-danger" href="#" type="button" title="Eliminar" data-bs-toggle="modal"
                        data-bs-target="#modal_delete_{{ p.id }}">
                        <i class="fa-solid fa-trash"></i>
                      </button>
                      <div class="modal fade" id="modal_delete_{{ p.id }}" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title  col-11 text-center">¿Desea eliminar
                                esta página?</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="close"></button>
                            </div>

                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                              <button onclick="deletePage( `{% url 'del_page' p.id %}`, `{{ p.id }}` )" type="button"
                                class="btn btn-danger" data-bs-dismiss="modal">
                                Eliminar</i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                {% endfor %}
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </section>


  <br>
  <hr>

</div>

{% endblock %}

{% block page-scripts %}

<script>
  function deletePage(url_delete, id) {
    $.ajax({
      type: 'POST',
      url: url_delete,
      data: {
        "csrfmiddlewaretoken": "{{csrf_token}}"
      },
      success: function (response) {
        $("#rowp_" + id).remove();
        let html =
          `
        <div class="alert alert-success alert-dismissible fade show mb-2 mt-2" role="alert">
            <div style="text-align: center;">
                <strong>Página eliminada correctamente</strong>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        `;
        document.getElementById("alert_removed_success").innerHTML = html;
      },
      error: function (response) {
        //console.log(response);
      }
    });
  }
</script>

{% endblock %}