{% extends 'main_template.html' %}
{% load static %}
{% load filters %}

{% block title %} {{ story.title1 }} {% endblock %}

{% block page-styles %}
<link rel="stylesheet" href="{% static 'css/admin/view_pages.css' %}" type="text/css">
{% endblock %}

{% block content %}

<div class="container main-content">
  <div class="row mt-3">
    <div class="col-2 back-btn-container">
      <a href="{% url 'admin_stories' %}" class="btn-back-next">
        <span><i class="fa-solid fa-arrow-left"></i></span>
      </a>
    </div>
    <div class="col-8 page-title-container">
      <h2 class="fs-2">Crear una nueva página</h2>
    </div>
  </div>
  <section class="my-3">
    <div class="row text-center">
      <div class="col col-12">
        <div class="select-template-section">
          <!-- General template -->
          <a class="template-2" href="{% url 'add_page' story.route 1 %}">
            <div class="template-card">
              <div style="width: 100%; height: 60px; display: flex; flex-direction: row;">
                <span style="width: 60%;">
                  <i style="margin: 0.5rem; font-size: 3rem; color:gray" class="fa-regular fa-image"></i>
                </span>
                <div
                  style="width: 40%; margin: 0 0.5rem; height: 100%; align-items: center; display: flex; flex-direction: column;">
                  <div class="brand-t-1" style="margin: 0; background-color: #fff;"></div>
                  <div class="brand-t-1"></div>
                  <div class="brand-t-1"></div>
                  <div class="brand-t-1"></div>
                </div>
              </div>
              <div
                style="width: 100%; padding: 0 0.25rem 0 0.5rem; height: 50px; display: flex; flex-direction: column; align-items: center;">
                <div class="brand-t-1"></div>
                <div class="brand-t-1"></div>
                <div class="brand-t-1"></div>
              </div>
              <div style="width: 100%; height: 70px; align-items: center; display: flex; justify-content: center;">
                <span>
                  <i style="margin: 0.5rem; font-size: 3rem; color: #77b9fc;" class="fa-solid fa-list-check"></i>
                </span>
              </div>
            </div>
            <p class="template-name">#1: Plantilla general</p>
          </a>
          <!-- End of general template -->

          <!-- Video and exercises template -->
          <a class="template-2" href="{% url 'add_page' story.route 2 %}">
            <div class="template-card">
              <div style="width: 100%; height: 110px; display: flex; justify-content: center; align-items: center;">
                <span><i style="font-size: 3rem; color: gray;" class="fas fa-circle-play"></i></span>
              </div>
              <div style="width: 100%; height: 70px; align-items: center; display: flex; justify-content: center;">
                <span>
                  <i style="margin: 0.5rem; font-size: 3rem; color: #77b9fc;" class="fa-solid fa-list-check"></i>
                </span>
              </div>
            </div>
            <p class="template-name">#2: Video y ejercicios</p>
          </a>
          <!-- End of video and exercises template -->
        </div>
      </div>
    </div>
  </section>

  <hr>

  <section class="my-3">
    <div class="mt-3" id="alert_removed_success"></div>
    <div class="row">
      <div class="col-12">
        <h2 class="fs-2 fw-bold text-center">Páginas actuales</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <div class="table-responsive">
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th class="fs-5">#</th>
                  <th class="fs-5">Nombre</th>
                  <th class="fs-5">Tipo</th>
                  <th class="fs-5">Acciones</th>
                </tr>
              </thead>
              <tbody class="align-middle">
                {% if pages %}
                {% for p in pages %}
                <tr id="rowp_{{ p.id }}">
                  <td class="fs-6 counter">#{{ forloop.counter }}</td>
                  <td class="fs-6">{{ p.subtitle1 |default:'Página nueva' }}</td>
                  <td class="fs-6">{{ p.page_type |page_type_to_str }}</td>
                  <td class="fs-6">
                    <!-- Link to edit -->
                    <div class="d-block d-sm-inline-block m-1">
                      <a class="btn btn-info" href="{% url 'edit_page' story.route p.page_type p.id %}" type="button"
                        title="Editar">
                        <i class='fa-solid fa-pen' style='color: white'></i>
                      </a>
                    </div>
                    <!-- fin del modal para editar -->

                    <!-- modal para borrar -->
                    <div class="d-block d-sm-inline-block m-1">
                      <button class="btn btn-danger" href="#" type="button" title="Eliminar" data-bs-toggle="modal"
                        data-bs-target="#modal_delete_{{ p.id }}">
                        <i class="fa-solid fa-trash"></i>
                      </button>
                      <div class="modal fade" id="modal_delete_{{ p.id }}" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title  col-11 text-center">¿Desea eliminar
                                esta página?</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="close"></button>
                            </div>

                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                              <button onclick="deletePage( `{% url 'del_page' p.id %}`, `{{ p.id }}` )" type="button"
                                class="btn btn-danger" data-bs-dismiss="modal">
                                Eliminar</i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                {% endfor %}
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </section>


  <br>
  <hr>

</div>

{% endblock %}

{% block page-scripts %}

<script>
  function deletePage(url_delete, id) {
    $.ajax({
      type: 'POST',
      url: url_delete,
      data: {
        "csrfmiddlewaretoken": "{{csrf_token}}"
      },
      success: function (response) {
        let deleted_row = document.getElementById('rowp_' + id);
        let deleted_counter = parseInt(deleted_row.querySelector('.counter').innerText.replace('#', ''));
        deleted_row.remove();
        let html =
          `
        <div class="alert alert-success alert-dismissible fade show mb-2 mt-2" role="alert">
            <div style="text-align: center;">
                <strong>Página eliminada correctamente</strong>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        `;
        document.getElementById("alert_removed_success").innerHTML = html;

        let counters_dom = document.querySelectorAll('.counter');
        for (let cd of counters_dom) {
          let current_counter = parseInt(cd.innerText.replace('#', ''));
          if (current_counter > deleted_counter)
            cd.innerText = '#' + (current_counter - 1);
        }
      },
      error: function (response) {
        //console.log(response);
      }
    });
  }
</script>

{% endblock %}