{% extends 'main_template.html' %}
{% load static %}

{% block title %} Aplicación X {% endblock %}

{% block navbar %} {% include 'navbar-custom.html' %} {% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col-12">
            <h3>Agregar historias</h3>

            {% include './form-historia.html' %}
        </div>
    </div>
</div>

{% endblock %}

{% block page-scripts %}

<script>
    // change styles for showing categories
    document.addEventListener("DOMContentLoaded", function () {
        var cambiar = document.querySelector("#id_tag").childNodes;
        for (let i = 0; i < cambiar.length; i++)
            cambiar[i].className = "form-check form-check-inline";

        var checks = document.getElementsByName("tag");
        for (let i = 0; i < checks.length; i++)
            checks[i].className = "form-check-input";
    });
</script>

{% endblock %}