{% load static %}

{% if resp != None %}
<div class="alert {{ resp.alert }} alert-dismissible fade show mb-2 mt-2" role="alert">
  <div style="text-align: center;">
    <strong>{{ resp.message }}</strong>
  </div>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
<form method="post" enctype="multipart/form-data" autocomplete="off">
  {% csrf_token %}

  {% for campo in formulario%}
  <div class="mb-3">
    <label for="{{ campo.name }}" class="form-label">{{ campo.label }}</label>

    {% if campo.field.widget.input_type == 'file' and campo.value.url %} <br>
    <img src="{{ campo.value.url }}" alt="No se pudo cargar imagen" height="100">
    {% endif %}

    {{ campo }}
  </div>
  {% endfor %}

  <input class="btn btn-success" type="submit" value="Continuar">
  <a class="btn btn-primary" href="{% url 'ver_historias' %}" role="button">Cancelar</a>

</form>