{% load filters %}
<tbody id="reports_table_body" {% if new_report %} hx-swap-oob="afterbegin" {% endif %}>
  {% for r in reports %}
  <tr class="report-{{ r.status }} report-row" id="report_{{ r.id }}" report_id="{{ r.id }}"
    hx-get="{% url 'get_report' r.id %}" hx-target="#report_content" hx-swap="innerHTML" hx-trigger="wait-for-function"
    onclick="openReport('{{ r.id }}')">
    <td onclick="selectReport(event, '{{ r.id }}')">
      <span class="check-icon" title="Seleccionar">
        <i class="fa-solid fa-check"></i>
      </span>
    </td>
    <td class="report-story-title-lg">{{ r.story.title1 }}</td>
    <td>
      <span class="report-story-title-sm report-{{ r.status }}">{{ r.story.title1 }}</span>
      {{ r.description|cut_str:20 }}
    </td>
    <td>{{ r.created_at|date:"d M" }}</td>
  </tr>
  {% endfor %}
</tbody>