{% extends 'main_template.html' %}
{% load static %}


{% block title %} {{ story.title }} {% endblock %}

{% block navbar %} {% include 'navbar-custom.html' %} {% endblock %}

{% block content %}

<div class="container main-content">
    <div class="row mt-3">
        <h2 style="text-align: center;">Escoge una plantilla para crear una nueva página</h2>
        <h3 style="text-align: center;">Páginas actuales:</h3>
        {% if pages %}
        {% for p in pages %}
        <p>{{ p }}</p>
        {% endfor %}
        {% else %}
        <p>Esta historia aún no cuenta con páginas</p>
        {% endif %}
        <hr>
        <section class="row mt-3 choose-template-section">
            <div class="col col-12">
                <a class="template" href="{% url 'add_page' story.route 1 %}">
                    <div class="t1-p1">
                        <div class="box-t1-1">
                            <img src="{% static 'img/image-icon.png' %}" alt="Default image">
                        </div>
                        <div class="box-t1-2">
                            <span class="t1-line-s"></span>
                            <span class="t1-line-s"></span>
                            <span class="t1-line-s"></span>
                        </div>
                    </div>
                    <div class="t1-p2">
                        <div class="box-t1-3">
                            <span class="t1-line-l"></span>
                            <span class="t1-line-lb"></span>
                            <span class="t1-line-l"></span>
                        </div>
                    </div>
                    <div class="t1-p3">
                        <div class="box-t1-4">
                            <img src="{% static 'img/test.png' %}" alt="Default image">
                        </div>
                    </div>
                    <p>
                        Plantilla de imagen, diálogo y ejercicio
                    </p>
                </a>
            </div>
        </section>
        
        <br><br><br><br><br><br><br><br><br><br>


    </div>


</div>

{% endblock %}