{% extends 'main_template.html' %}
{% load static %}

{% block title %} {{ story.title }} {% endblock %}

{% block page-styles %}
<link rel="stylesheet" href="{% static 'css/1.css' %}">
<style>
  .btn-add-dialog {
    min-width: 100px;
  }
</style>
{% endblock %}

{% block navbar %} {% include 'navbar/navbar-logged.html' %} {% endblock %}

{% block content %}
<!-- Template 1 -->
<div class="container main-content">
  <div class="row mt-3">
    <div class="col-12 text-center">
      <label class="form-label fs-5" for="sub1">Agrega un subtítulo en inglés</label>
      <input class="fs-1 text-center form-control" id="sub1" placeholder="Subtítulo en inglés" autocomplete="false"
        value="{{ page.subtitle1 | default:'' }}"></input>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12 text-center">
      <label class="form-label fs-5" for="sub2">Agrega un subtítulo en español</label>
      <input class="fs-1 text-center form-control" id="sub2" placeholder="Subtítulo en español" autocomplete="false"
        value="{{ page.subtitle2 | default:'' }}"></input>
    </div>
  </div>

  {% for i in images %}
  <div name="images">
    <input type="file" id="image" name="image" class="form-control" accept="image/*" onchange="changeImg(this)" hidden>
    <input value="0" name="element_number" hidden>
    <input value="{{ i.id |default:''}}" name="id" hidden>
  </div>
  {% empty %}
  <div name="images">
    <input type="file" id="image" name="image" class="form-control" accept="image/*" onchange="changeImg(this)" hidden>
    <input value="0" name="element_number" hidden>
    <input value="{{ i.id |default:''}}" name="id" hidden>
  </div>
  {% endfor %}

  <div class="mt-3" id="alert_removed_success"></div>

  <div class="row my-3">
    <div class="col-12">
      <div class="img-t-1">
        {% for i in images %}
        <img src="{{ i.image.url | default:story.cover.url }}" alt="No se pudo cargar la imagen" id="img_showed">
        {% empty %}
        <img src="{{ story.cover.url }}" alt="No se pudo cargar la imagen" id="img_showed">
        {% endfor %}
        <div class="row mt-1">
          <div class="col-12 col-md-6">
            <button class="btn btn-primary shadow-none fs-6 w-100 fw-bold" type="button"
              onclick="document.getElementById('image').click(); return false;">Cambiar imagen</button>
          </div>
          <div class="col-12 col-md-6">
            <button class="btn btn-info shadow-none fs-6 w-100 fw-bold" onclick="restoreImage()" type="button">Restaurar
              imagen</button>
          </div>
        </div>

      </div>
      <div class="fs-5">
        <div id="content_area"></div>
      </div>
      <div class="row mb-3">
        <div class="col-12 text-center">
          <button onclick="addDialogue()" class="btn btn-primary shadow-none w-50 fs-5 
            fw-bold btn-add-dialog" id="add_dialog" type="button"> Agregar diálogo </button>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row mb-3">
    <div class="col-12">
      <h2 class="fs-2 text-center my-3">Ejercicios</h2>
    </div>
    <div class="col-12">
      <span id="exercises_area"></span>
    </div>


    <div class="col-12 col-md-8">
      <select class="form-select fs-5" id="exercise_selected">
        <option selected>- Selecciona un ejercicio -</option>
        <option value="0">Repetir oración</option>
        <option value="1">Próximamente</option>
      </select>
    </div>
    <div class="col-12 col-md-4">
      <button class="btn btn-primary shadow-none fs-5 fw-bold w-100" type="button" onclick="addExercise()"> Agregar
      </button>
    </div>

    <br><br><br>
  </div>
  <hr>
  <div class="row mb-3">
    <div class="col-12 col-md-6 text-center">
      <a href="{% url 'view_pages' story.route %}" class="btn btn-danger shadow-none fs-5 fw-bold w-100" type="button">
        Cancelar</a>
    </div>
    <div class="col-12 col-md-6 text-center">
      <button class="btn btn-primary shadow-none fs-5 fw-bold w-100" onclick="savePage()"> Guardar página
      </button>
    </div>
  </div>

</div>


{% endblock %}

{% block page-scripts %}

<script>
  const URL_SAVE_PAGE = `{% url 'add_page' route=story.route page_type=page_type %}`;
  const URL_VIEW_PAGES = `{% url 'view_pages' route=story.route %}`;

  let page_id = '{{ page.id }}';

  let default_cover = '{{ story.cover.url }}';
  let db_images = {};
  let db_dialogues = {};
  let db_repeat_phrases = {};

  try {
    db_images = JSON.parse('{{ images_json |safe }}');
  } catch (e) { }
  try {
    db_dialogues = JSON.parse('{{ dialogues |safe |escapejs }}');
  } catch (e) { }
  try {
    db_repeat_phrases = JSON.parse('{{ repeat_phrases |safe |escapejs  }}');
  } catch (e) { }

  //for (let d of db_dialogues)
  //console.log(d);
  //for (let i of db_repeat_phrases)
  //console.log(i);

  /* For page type 1 */
  let max_elem = 0;

</script>

<script src="{% static 'js/add_page/content.js' %}"></script>
<script src="{% static 'js/add_page/exercises.js' %}"></script>
<script src="{% static 'js/add_page/add_page.js' %}"></script>
<script src="{% static 'js/sort_collections.js' %}"></script>

<script>
  if (page_id)
    loadPageType1();

  function loadPageType1() {
    // change default image
    if (db_images.length > 0)
      default_cover = db_images[0].image;

    // Render them to the document
    for (let element of collections_sorted) {
      element.element_number = max_elem;
      switch (element.type) {
        case "image":
          max_elem++;
          break;
        case "dialogue":
          loadDialogue(element);
          break;
        case "repeat_phrase":
          loadRepeatPhrase(element);
          break;
      }
    }
  }

  function loadDialogue(dialogue) {
    // add dialogue increases in 1 the id
    addDialogue();
    let html_dialogue = document.getElementById("element_" + (max_elem - 1));

    html_dialogue.querySelector('[name = id]').value = dialogue.id;
    html_dialogue.querySelector('[name = name]').value = dialogue.name;
    html_dialogue.querySelector('[name = color]').value = dialogue.color;
    html_dialogue.querySelector('[name = language1]').value = dialogue.content1;
    html_dialogue.querySelector('[name = language2]').value = dialogue.content2;

    $(".ch-color_" + (max_elem - 1)).css({ 'color': dialogue.color });
  }

  function loadRepeatPhrase(repeat_phrase) {
    repeatPhrase();
    let html_repeat_phrase = document.getElementById("element_" + (max_elem - 1));
    html_repeat_phrase.querySelector('[name = id]').value = repeat_phrase.id;
    html_repeat_phrase.querySelector('[name = language1]').value = repeat_phrase.content1;
    html_repeat_phrase.querySelector('[name = language2]').value = repeat_phrase.content2;
  }


</script>



{% endblock %}