{% extends 'main_template.html' %}
{% load static %}

{% block title %} {{ story.title }} {% endblock %}

{% block page-styles %}
<link rel="stylesheet" href="{% static 'css/1.css' %}">
<style>
  .btn-add-dialog {
    min-width: 100px;
  }
</style>
{% endblock %}

{% block navbar %} {% include 'navbar-custom.html' %} {% endblock %}

{% block content %}
<!-- Template 1 -->
<div class="container main-content">
  <div class="row mt-3">
    <div class="col-12 text-center">
      <label class="form-label fs-5" for="sub1">Agrega un subtítulo en inglés</label>
      <input class="fs-1 text-center form-control" id="sub1" placeholder="Subtítulo en inglés" autocomplete="false"
        value="{{ page.subtitle1 | default:'' }}"></input>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12 text-center">
      <label class="form-label fs-5" for="sub2">Agrega un subtítulo en español</label>
      <input class="fs-1 text-center form-control" id="sub2" placeholder="Subtítulo en español" autocomplete="false"
        value="{{ page.subtitle2 | default:'' }}"></input>
    </div>
  </div>

  {% for i in images %}
  <div name="images">
    <input type="file" id="image" name="image" class="form-control" accept="image/*" onchange="changeImg(this)" hidden>
    <input value="0" name="element_number" hidden>
    <input value="{{ i.id |default:''}}" name="id" hidden>
  </div>
  {% empty %}
  <div name="images">
    <input type="file" id="image" name="image" class="form-control" accept="image/*" onchange="changeImg(this)" hidden>
    <input value="0" name="element_number" hidden>
    <input value="{{ i.id |default:''}}" name="id" hidden>
  </div>
  {% endfor %}

  <div class="mt-3" id="alert_removed_success"></div>

  <div class="row my-3">
    <div class="col-12">
      <div class="img-t-1">
        {% for i in images %}
        <img src="{{ i.image.url | default:story.cover.url }}" alt="No se pudo cargar la imagen" id="img_showed">
        {% empty %}
        <img src="{{ story.cover.url }}" alt="No se pudo cargar la imagen" id="img_showed">
        {% endfor %}
        <div class="row mt-1">
          <div class="col-12 col-md-6">
            <button class="btn btn-primary shadow-none fs-6 w-100 fw-bold" type="button"
              onclick="document.getElementById('image').click(); return false;">Cambiar imagen</button>
          </div>
          <div class="col-12 col-md-6">
            <button class="btn btn-info shadow-none fs-6 w-100 fw-bold" onclick="restoreImage()" type="button">Restaurar
              imagen</button>
          </div>
        </div>

      </div>
      <div class="fs-5">
        <div id="content_area"></div>
      </div>
      <div class="row mb-3">
        <div class="col-12 text-center">
          <button onclick="addDialog()" class="btn btn-primary shadow-none w-50 fs-5 
            fw-bold btn-add-dialog" id="add_dialog" type="button"> Agregar diálogo </button>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row mb-3">
    <div class="col-12">
      <h2 class="fs-2 text-center my-3">Ejercicios</h2>
    </div>

    {% include "admin/exercises/select-exercise.html" %}
    <br><br><br>
  </div>
  <hr>
  <div class="row mb-3">
    <div class="col-12 col-md-6 text-center">
      <a href="{% url 'view_pages' story.route %}" class="btn btn-danger shadow-none fs-5 fw-bold w-100" type="button">
        Cancelar</a>
    </div>
    <div class="col-12 col-md-6 text-center">
      <button class="btn btn-primary shadow-none fs-5 fw-bold w-100" onclick="savePage()"> Guardar página
      </button>
    </div>
  </div>

</div>


{% endblock %}

{% block page-scripts %}

<script>
  let DEFAULT_COVER = '{{ story.cover.url }}';

  let story_route = '{{ story.route }}';
  let page_type = '{{ page_type }}';
  let page_id = '{{ page.id }}';

  let edit_images = {};
  let edit_dialogues = {};
  let edit_repeat_phrases = {};

  loadDjangoVariables();

  //console.log('images ' + edit_images);
  //console.log('dialogues ' + edit_dialogues + ' ' + edit_dialogues.length);
  //console.log('phrases ' + edit_repeat_phrases);

  function loadDjangoVariables() {
    try {
      edit_images = JSON.parse('{{ images_json |safe }}');
    } catch (e) { }
    try {
      edit_dialogues = JSON.parse('{{ dialogues |safe |escapejs }}');
    } catch (e) { }
    try {
      edit_repeat_phrases = JSON.parse('{{ repeat_phrases |safe |escapejs  }}');
    } catch (e) { }
  }

</script>

<script src="{% static 'js/add-page/content.js' %}"></script>
<script src="{% static 'js/add-page/exercises.js' %}"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    if (page_id) {
      loadPageType1();
    }
  });

  function loadPageType1() {
    // change default image
    if (edit_images.length > 0) {
      DEFAULT_COVER = edit_images[0].image;
    }

    // get max elements
    //max_elem = edit_dialogues.length + edit_repeat_phrases.length;
    // Content
    // Dialogues

    for (let i = 0; i < edit_dialogues.length; i++)
      addDialog();

    let dialogues = document.getElementsByName('dialogues');
    for (let i = 0; i < dialogues.length; i++) {
      dialogues[i].querySelectorAll('[name = id]')[0].value = edit_dialogues[i].id;
      dialogues[i].querySelectorAll('[name = element_number]')[0].value = edit_dialogues[i].element_number;
      dialogues[i].querySelectorAll('[name = name]')[0].value = edit_dialogues[i].name;
      dialogues[i].querySelectorAll('[name = color]')[0].value = edit_dialogues[i].color;
      dialogues[i].querySelectorAll('[name = language1]')[0].value = edit_dialogues[i].content1;
      dialogues[i].querySelectorAll('[name = language2]')[0].value = edit_dialogues[i].content2;

      $(".ch-color_" + i).css({ 'color': edit_dialogues[i].color });
    }

    // Repeat Phrases
    for (let i = 0; i < edit_repeat_phrases.length; i++)
      repeatPhrase();

    let repeat_phrases = document.getElementsByName('repeatPhrases');
    for (let i = 0; i < repeat_phrases.length; i++) {
      repeat_phrases[i].querySelectorAll('[name = id]')[0].value = edit_repeat_phrases[i].id;
      repeat_phrases[i].querySelectorAll('[name = element_number]')[0].value = edit_repeat_phrases[i].element_number;
      repeat_phrases[i].querySelectorAll('[name = language1]')[0].value = edit_repeat_phrases[i].content1;
      repeat_phrases[i].querySelectorAll('[name = language2]')[0].value = edit_repeat_phrases[i].content2;
    }

  }


</script>

<script src="{% static 'js/add-page/add-page.js' %}"></script>

{% endblock %}