<div class="col-12"><span id="exercises_area"></span></div>
<div class="col-12 col-md-8">
  <select class="form-select fs-5" id="exercise_selected">
    <option selected>- Selecciona un ejercicio -</option>
    <option value="0">Repetir oración</option>
    <option value="1">Próximamente</option>
  </select>
</div>
<div class="col-12 col-md-4">
  <button class="btn btn-primary shadow-none fs-5 fw-bold w-100" type="button" onclick="addExercise()"> Agregar
  </button>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    /*
    let x1 = document.getElementById("repl1");
    x1.style.height = (x1.style.fontSize) / 2;

    x1.style.height = `${x1.scrollHeight}px`;
    x1.addEventListener("keyup", e => {
      x1.style.height = (x1.style.fontSize) / 2;
      let h = e.target.scrollHeight;
      x1.style.height = `${h}px`;
    });

    */
  });

  function makeAdjustable(element) {
    element.style.height = (element.style.fontSize) / 2;

    element.style.height = `${element.scrollHeight}px`;
    element.addEventListener("keyup", e => {
      element.style.height = (element.style.fontSize) / 2;
      let h = e.target.scrollHeight;
      element.style.height = `${h}px`;
    });
  }

  function addExercise() {
    let selected = document.getElementById("exercise_selected").value;
    switch (parseInt(selected)) {
      case 0:
        repeatPhrase();
        break;

      default:
      //console.log("nothing");
    }
  }

  function repeatPhrase() {

    let html =
      `
      <div class="mb-3" id="element_`+ max_elem + `" name="element_` + max_elem + `">
        <hr>
        <div class="row">
          <div class="col-12 d-flex">
            <div class="col-10 col-md-11">
              <h3 class="fs-3 text-center my-3">Repetir oración</h3>
            </div>
            <div class="col-2 col-md-1 d-flex align-items-center">
              <button class="btn btn-danger shadow-none" type="button" title="Eliminar diálogo" data-bs-toggle="modal"
                data-bs-target="#modal_delete_`+ max_elem + `">
                <i class="fa-solid fa-trash"></i>
              </button>
              <div class="modal fade" id="modal_delete_`+ max_elem + `" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title  col-11 text-center">¿Desea eliminar este ejercicio?</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>

                      <button type="button" class="btn btn-danger" onclick="deleteElement(`+ max_elem + `)" data-bs-dismiss="modal">
                        Eliminar</i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <label class="form-label fs-5" for="repl">Escribe el contenido en inglés</label>
          <div class="col-12 mb-2">
            <textarea class="form-control fs-5 txta" type="text" id="repP1_`+ max_elem + `" placeholder="Contenido en inglés"
              maxlength="255"></textarea>
          </div>
        </div>
        <div class="row">
          <label class="form-label fs-5" for="repl1">Escribe el contenido en español</label>
          <div class="col-12 mb-2">
            <textarea class="form-control fs-5 txta" type="text" id="repP2_`+ max_elem + `"
              placeholder="Contenido en español" maxlength="255"></textarea>
          </div>
        </div>
        <hr>
      </div>

      <div class="col-12"><span id="exercises_area"></span></div>
    `;

    document.getElementById("exercises_area").outerHTML = html;

    let adj1 = document.getElementById("repP1_" + max_elem);
    let adj2 = document.getElementById("repP2_" + max_elem);
    makeAdjustable(adj1);
    makeAdjustable(adj2);

    max_elem++;
    $("#max_elem").val(max_elem);

  }

  function deleteElement(id) {
    $("#element_" + id).remove();
    let html =
      `
    <div class="alert alert-success alert-dismissible fade show mb-2 mt-2" role="alert">
        <div style="text-align: center;">
            <strong>Elemento eliminado correctamente</strong>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    `;
    document.getElementById("alert_removed_success").innerHTML = html;
  }

</script>