{% extends 'main_template.html' %}

{% load static %}

{% block title %} Iniciar sesión {% endblock %}

{% block page-styles %}
<style>
    .main-form-container {
        display: block;
        width: 400px;
        text-align: left;
        margin: auto;
        margin-top: 30px;
        background-color: #fff;
        border-radius: 10px;
    }

    .main-form-container a {
        text-decoration: none;
    }

    .pass input {
        outline: none;
        border: none;
        width: 90%;
    }

    .pass span {
        background-color: #fff;
        border: none;
        text-align: right;
        display: inline-block;
    }

    .pass span:hover {
        cursor: pointer;
    }

    .error-pass {
        font-weight: bold;
        color: red;
    }
</style>

{% endblock %}

{% block content %}
<!-- INDEX LOGIN -->

<div class="row main-form-container">
    <div class="mt-4 mb-2 center">
        <h2>Iniciar sesión</h2>
    </div>
    <div class="px-5">
        <form id="form_login" autocomplete="off" method="post">
            {% csrf_token %}
            <div>
                <div class="mb-2 mt-2">
                    <label for="username">Nombre de usuario</label>
                    <input name="username" class="form-control" type="text" placeholder="Nombre de usuario" required>
                </div>
                <div class="mb-2">
                    <label for="password" class="mb-1">Contraseña</label>
                    <div class="form-control pass">
                        <input name="password" class="" type="password" placeholder="Contraseña" id="password" required>
                        <span id="btn_eye1">
                            <i class="fa fa-eye-slash" id="eye_1"></i>
                            <!--<i class="fa-solid fa-eye"></i>-->
                        </span>
                    </div>
                </div>
                <div class="mb-2">
                    <div id="form_message">

                    </div>
                </div>
                <hr>
            </div>
            <button type="submit" class="btn btn-primary">Entrar</button>
        </form>
        <hr>
        <p>¿Aún no estás registrado? <a href="{% url 'register' %}" class="text-primary">Regístrate</a></p>
        <br>
    </div>
</div>

{% endblock %}

{% block page-scripts %}

<script>
    btn_eye1 = document.getElementById("btn_eye1");

    btn_eye1.addEventListener("click", e => {
        eye_1 = document.getElementById("eye_1");
        if (eye_1.classList.contains("fa-eye-slash")) {
            eye_1.className = "fa-solid fa-eye";
            document.getElementById("password").type = "text";
        }
        else {
            eye_1.className = "fa fa-eye-slash";
            document.getElementById("password").type = "password";
        }
    });
</script>

{% endblock %}