{% extends 'main_template.html' %}

{% load static %}

{% block title %} Iniciar sesión {% endblock %}

{% block page-styles %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="auth-background">
	<div class="auth-form-container">

		<form class="form-body" autocomplete="off" method="post">
			{% csrf_token %}

			<h1 class="form-title">Iniciar sesión</h1>

			<div class="form-element">
				<label for="username">Nombre de usuario</label>
				<input id="username" name="username" type="text" class="form-control input-text" style=""
					value="{{ form.username.value |default:'' }}" placeholder="Nombre de usuario" required>
			</div>

			<div class="form-element">
				<label for="password" class="mb-1">Contraseña</label>
				<div class="form-control password-input">
					<input id="password" name="password" type="password" placeholder="Contraseña" required>
					<span id="toggle_password_visibility" title="Mostrar contraseña"><i class="fa fa-eye"></i></span>
				</div>
			</div>

			<div class="form-element">
				{% for message in messages %}
				<div class="alert alert-danger" style="border-radius: 20px;">
					{{ message }}
				</div>
				{% endfor %}
			</div>

			<div class="form-element">
				<button type="submit" class="form-submit-btn">Entrar</button>
			</div>

			<div class="form-element">
				<p class="text-footer">¿Eres nuevo? <a href="{% url 'register' %}">Regístrate</a></p>
			</div>

		</form>
	</div>
</div>
{% endblock %}

{% block page-scripts %}

<script>
	let pass_toggler = document.getElementById("toggle_password_visibility")
	pass_toggler.addEventListener("click", (e) => {
		let eye_icon = document.querySelector('#toggle_password_visibility i');
		let pass_input = document.getElementById('password');

		if (eye_icon.classList.contains('fa-eye')) {
			eye_icon.classList.remove('fa-eye');
			eye_icon.classList.add('fa-eye-slash');

			pass_input.type = 'text';
			eye_icon.parentElement.setAttribute('title', 'Ocultar contraseña');
		}
		else {
			eye_icon.classList.add('fa-eye');
			eye_icon.classList.remove('fa-eye-slash');
			pass_input.type = 'password';
			eye_icon.parentElement.setAttribute('title', 'Mostrar contraseña');
		}
	});
</script>

{% endblock %}