{% extends 'main_template.html' %}

{% load static %}

{% block title %} Crea una cuenta {% endblock %}

{% block page-styles %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="auth-background">
	<div class="auth-form-container">

		<form class="form-body" autocomplete="off" method="post">
			{% csrf_token %}

			<h1 class="form-title">Registrarse</h1>

			<div class="form-element">
				<label for="username">Nombre de usuario</label>
				<input id="username" name="username" type="text" class="form-control input-text" style=""
					placeholder="Nombre de usuario" required>
			</div>

			<div class="form-element">
				<label for="email">Correo electrónico</label>
				<input id="email" name="email" type="email" class="form-control input-text" style=""
					placeholder="correo@email.com" required>
			</div>

			<div class="form-element">
				<label for="password1" class="mb-1">Contraseña</label>
				<div class="form-control password-input">
					<input id="password1" name="password1" class="password" type="password" placeholder="Contraseña" required>
					<span id="toggle_password_visibility" class="toggle_password_visibility" title="Mostrar contraseña"><i
							class="fa fa-eye"></i></span>
				</div>
			</div>

			<div class="form-element">
				<label for="password2" class="mb-1">Repetir contraseña</label>
				<div class="form-control password-input">
					<input id="password2" name="password2" class="password" type="password" placeholder="Repetir contraseña"
						required>
					<span id="toggle_password_visibility" class="toggle_password_visibility" title="Mostrar contraseña"><i
							class="fa fa-eye"></i></span>
				</div>
			</div>

			<div class="form-element">
				<button type="submit" class="form-submit-btn">Registrarse</button>
			</div>

			<div class="form-element">
				<p class="text-footer">¿Ya tienes una cuenta? <a href="{% url 'login' %}">Iniciar sesión</a></p>
			</div>

		</form>
	</div>
</div>
{% endblock %}
{% block page-scripts %}
<script>
	// Show or hide passwords
	let pass_togglers = document.querySelectorAll('.toggle_password_visibility');

	pass_togglers.forEach(pass_toggler => {
		pass_toggler.addEventListener("click", (e) => {
			let eye_icons = document.querySelectorAll('.toggle_password_visibility i');
			let pass_inputs = document.querySelectorAll('.password');

			eye_icons.forEach(eye_icon => {
				if (eye_icon.classList.contains('fa-eye')) {
					eye_icon.classList.remove('fa-eye');
					eye_icon.classList.add('fa-eye-slash');

					eye_icon.parentElement.setAttribute('title', 'Ocultar contraseña');

					pass_inputs.forEach(pass_input => {
						pass_input.type = 'text';
					});
				}
				else {
					eye_icon.classList.add('fa-eye');
					eye_icon.classList.remove('fa-eye-slash');
					eye_icon.parentElement.setAttribute('title', 'Mostrar contraseña');
					pass_inputs.forEach(pass_input => {
						pass_input.type = 'password';
					});
				}

			});

		});
	});
</script>
{% endblock %}