{% load static %}
{% block page-styles %}
<link rel="stylesheet" href="{% static 'css/utils/dropdown.css' %}">
{% endblock %}

<form class="row" action="/" method="get" autocomplete="off">
  <div class="col-12 col-md-6">
    <div class="d-flex">
      <input class="form-control me-3" type="search" placeholder="Search story" aria-label="Search" id="search_input"
        name="q" value="{{ filter_form.q|default:'' }}">
      <button class="btn btn-outline-success" type="submit">
        <span><i class="fa-solid fa-magnifying-glass"></i></span>
      </button>
    </div>
  </div>

  <div class="col-12 col-md-6 text-end">

    <div class="d-flex">





      <!-- Filter by date -->
      <div class="dropdown">
        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="sort_date" data-bs-toggle="dropdown"
          aria-expanded="false">
          <span><i class="fa-regular fa-clock"></i></span>
        </button>
        <ul class="dropdown-menu prevent" aria-labelledby="sort_date">
          <li>
            <input type="radio" name="sort_date" id="sort_date_default" value="default" checked>
            <label for="sort_date_default">Default sit amet consec
              tetur adipisicing elit.ciis adipisci</label>
          </li>

          <li>
            <input type="radio" name="sort_date" id="sort_date_updated" value="updated">
            <label for="sort_date_updated">Recently updated</label>
          </li>

          <li>
            <input type="radio" name="sort_date" id="sort_date_created" value="created">
            <label for="sort_date_created">
              Recently added
            </label>
          </li>
        </ul>
      </div>
      <!-- End of filter by date -->

      <button class="btn btn-outline-success" type="button">
        <span><i class="fa-solid fa-arrow-down-a-z"></i></span>
      </button>

      <button class="btn btn-outline-success">
        <span><i class="fa-solid fa-filter"></i></span>
      </button>

      <a class="btn btn-outline-success" href="{% url 'index' %}">
        <span><i class="fa-solid fa-filter-circle-xmark"></i></span>
      </a>
    </div>

  </div>
  <div class="col-12">
    <div class="d-flex">

      <!-- Filter by tags -->
      <div class="dropdown dropdown-container">
        <div class="dropdown-toggle dropdown-btn" type="button" id="test" data-bs-toggle="dropdown">
          <span class="left-icon"><i class="fa-solid fa-tags"></i></span>
          <span class="btn-text">Select Tags</span>
          <span class="arrow-dwn">
            <i class="fa-solid fa-chevron-down"></i>
          </span>
        </div>
        <ul class="dropdown-menu dropdown-grid-items" aria-labelledby="test">
          <li class="item" target="tag_all">
            <span class="checkbox">
              <input type="checkbox" name="tag" id="tag_all" value="all">
              <i class="fa-solid fa-check check-icon"></i>
            </span>
            <span class="item-text">All
            </span>
          </li>

          {% for tag in tags %}
          <li class="item" target="tag_{{ tag.id }}">
            <span class="checkbox">
              <input type="checkbox" name="tag" id="tag_{{ tag.id }}" value="{{ tag.id }}">
              <i class="fa-solid fa-check check-icon"></i>
            </span>
            <span class="item-text">{{ tag.name1 }}</span>
          </li>
          {% endfor %}
        </ul>
      </div>
      <!-- End of filter by tags -->
    </div>
  </div>
  <input type="text" name="sort_name" value="default" hidden>
  <input type="text" name="p" value="1" hidden>
</form>


{% block page-scripts %}
<script src="{% static 'js/utils/dropdown.js' %}"></script>
{% endblock %}