{% load static %}
{% load filters %}

{% block page-styles %}
<link rel="stylesheet" href="{% static 'css/utils/dropdown.css' %}">
{% endblock %}

<form class="row" method="get" autocomplete="off">
  <!-- Search bar -->
  <div class="col-12 col-sm-6 col-md-3">
    <input type="text" name="collection" value="{{ filter_form.collection|default:'' }}" hidden>
    <div class="form-sub-container">
      <div class="search-bar">
        <div class="icon-left" onclick="document.getElementById('search_input').focus()">
          <span><i class="fa-solid fa-magnifying-glass"></i></span>
        </div>
        <div class="text-input">
          <input type="text" placeholder="Search story" id="search_input" name="s"
            value="{{ filter_form.s |default:'' }}">
        </div>
        <div class="icon-right" onclick="clearSearchInput()">
          <span><i class="fa-solid fa-x"></i></span>
        </div>
      </div>
    </div>
  </div>
  <!-- End of search bar -->

  <!-- Filter by tags -->
  <div class="col-12 col-sm-6 col-md-3">
    <div class="form-sub-container">
      <div class="dropdown dropdown-container">
        <div class="dropdown-toggle dropdown-btn" type="button" id="tags_dd" data-bs-toggle="dropdown">
          <span class="left-icon"><i class="fa-solid fa-tags"></i></span>
          <span class="btn-text" id="label_tag">Tags</span>
          <span class="arrow-dwn"><i class="fa-solid fa-chevron-down"></i></span>
        </div>

        <ul class="dropdown-menu dropdown-grid-items menu-items" aria-labelledby="tags_dd" label-id="label_tag"
          default-label="Tags">

          <li class="item" select-all="true">
            <span class="checkbox"><i class="fa-solid fa-check check-icon"></i></span>
            <span class="item-text">All</span>
            {% if 'all' in filter_form.tags %}
            <input type="checkbox" name="tag" id="tag_all" value="all" checked>
            {% else %}
            <input type="checkbox" name="tag" id="tag_all" value="all">
            {% endif %}
            <label for="tag_all"></label>
          </li>


          {% for tag in tags %}
          <li class="item">
            <span class="checkbox"><i class="fa-solid fa-check check-icon"></i></span>
            <span class="item-text">{{ tag.name1 }}</span>
            {% if tag.id|to_str in filter_form.tags %}
            <input type="checkbox" name="tag" id="tag_{{ tag.id }}" value="{{ tag.id }}" checked>
            {% else %}
            <input type="checkbox" name="tag" id="tag_{{ tag.id }}" value="{{ tag.id }}">
            {% endif %}

            <label for="tag_{{ tag.id }}"></label>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <!-- End of filter by tags -->

  <!-- Sort -->
  <div class="col-12 col-sm-6 col-md-3">
    <div class="form-sub-container">
      <div class="dropdown dropdown-container">
        <div class="dropdown-toggle dropdown-btn" type="button" id="sort_date" data-bs-toggle="dropdown">
          <span class="left-icon"><i class="fa-regular fa-clock"></i></span>
          <span class="btn-text" id="label_date">Sort</span>
          <span class="arrow-dwn"><i class="fa-solid fa-chevron-down"></i></span>
        </div>

        <ul class="dropdown-menu dropdown-grid-items menu-items" aria-labelledby="sort_date" label-id="label_date"
          default-label="Sort">

          <!-- Default -->
          <li class="item">
            <span class="radio"><i class="fa-solid fa-check radio-icon"></i></span>
            <span class="item-text">Default</span>
            {% if filter_form.sort_date == 'default' or not filter_form.sort_date %}
            <input type="radio" name="sort" id="sort_default" value="default" checked>
            {% else %}
            <input type="radio" name="sort" id="sort_default" value="default">
            {% endif %}
            <label for="sort_default"></label>
          </li>

          <!-- A-Z -->
          <li class="item">
            <span class="radio"><i class="fa-solid fa-check radio-icon"></i></span>
            <span class="item-text">A-Z</span>
            {% if filter_form.sort == 'a-z' %}
            <input type="radio" name="sort" id="sort_a_z" value="a-z" checked>
            {% else %}
            <input type="radio" name="sort" id="sort_a_z" value="a-z">
            {% endif %}
            <label for="sort_a_z"></label>
          </li>

          <!-- Updated -->
          <li class="item">
            <span class="radio"><i class="fa-solid fa-check radio-icon"></i></span>
            <span class="item-text">Last updated</span>
            {% if filter_form.sort == 'updated' %}
            <input type="radio" name="sort" id="sort_date_updated" value="updated" checked>
            {% else %}
            <input type="radio" name="sort" id="sort_date_updated" value="updated">
            {% endif %}
            <label for="sort_date_updated"></label>
          </li>

          <!-- Created -->
          <li class="item">
            <span class="radio"><i class="fa-solid fa-check radio-icon"></i></span>
            <span class="item-text">Last added</span>
            {% if filter_form.sort == 'created' %}
            <input type="radio" name="sort" id="sort_date_created" value="created" checked>
            {% else %}
            <input type="radio" name="sort" id="sort_date_created" value="created">
            {% endif %}
            <label for="sort_date_created"></label>
          </li>

        </ul>
      </div>
    </div>
  </div>
  <!-- End of sort -->

  <!-- Clear and filter buttons -->
  <div class="col-12 col-sm-6 col-md-3">
    <div class="form-sub-container">
      <!-- Clear filters -->
      <button class="filter-button" type="button" onclick="document.getElementById('clear_form_btn').click()">
        <span class="flex-center"><i class="fa-solid fa-filter-circle-xmark"></i></span>
      </button>

      <!-- Submit filter form -->
      <button class="filter-button" type="submit" id="submit_filter_form_btn">
        <span class="flex-center"><i class="fa-solid fa-filter"></i></span>
      </button>
    </div>
  </div>
  <!-- End of clear and search buttons -->
  {% if filter_form.items_number %}
  <input type="text" name="items_number" value="{{ filter_form.items_number }}" id="form_items_number" hidden>
  {% endif %}
  <input type="text" name="p" value="1" hidden>
</form>

<!-- Clear form -->
<form class="row" method="get" autocomplete="off" style="display: none;">
  <input type="text" name="collection" value="{{ filter_form.collection|default:'' }}">
  <input type="text" name="p" value="1" hidden>
  <button type="submit" id="clear_form_btn"></button>
</form>

{% block page-scripts %}
<script src="{% static 'js/utils/dropdown.js' %}"></script>
{% endblock %}