{% load static %}
{% load filters %}

<!-- Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-custom-properties">
	<div class="container-fluid">
		<!-- 
		<a href="{% url 'index' %}">
			<img src="{% static 'img/sq_logo.png' %}" width="30px" alt="sq_logo.png" class="logo-nav-bar">
		</a>
	-->
		<a href="#"></a>
		<ul class="navbar-nav flex-row d-md-flex">
			<li class="nav-item">
				<a class="nav-link" href="{% url 'index' %}">
					<img src="{% static 'img/sq_logos/sq_white.png' %}" width="30px" alt="sq_logo.png" class="logo-nav-bar">
				</a>
			</li>
		</ul>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mb-2 me-auto mb-lg-0 fs-5 text-center">
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="{% url 'index' %}">
						Story Quest
					</a>
				</li>
				{% if request.user.is_authenticated %}
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="{% url 'stories' %}">Gallery</a>
				</li>
				{% endif %}
			</ul>

			{% if request.user.is_authenticated %}

			<ul class="navbar-nav text-center">

				<!-- Dropdown notifications 
				<li class="nav-item dropdown me-3 center-by-flex">
					<a class="nav-link dropdown-toggle" href="#" id="profile_dropdown1" role="button" data-bs-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						<span class="position-relative">
							<i class="fas fa-bell fa-lg" aria-hidden="true">
								
									<span class="position-absolute top-0 translate-middle badge rounded-pill bg-danger"
										style="font-size: 0.7rem;font-weight: 600; left: 150%;">
										10+
										<span class="visually-hidden">unread messages</span>
									</span>
								
									<span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger  rounded-circle"
										style="font-size: 0.7rem;">
										<span class="visually-hidden">New alerts</span>
									</span>
								
							</i>
						</span>
					</a>
					<ul class="dropdown-menu dropdown-menu-dark dropdown-menu-lg-end" aria-labelledby="profile_dropdown1">
						<li>
							<a class="dropdown-item" href="#/">
								<span class="me-1"><i></i></span>
								<p class="d-inline-block">No new notifications</p>
							</a>
						</li>
					</ul>
				</li>
				 End Dropdown notifications -->

				<!-- Show admin -->
				{% if request.user.is_superuser %}
				<ul class="navbar-nav mb-2 me-2 mb-lg-0 fs-5 text-center">
					<li class="nav-item center-by-flex">
						<a class="nav-link" aria-current="page" href="{% url 'index_admin' %}">
							Admin
						</a>
					</li>
				</ul>
				{% endif %}

				<!-- Dropdown profile options -->
				<li class="nav-item dropdown me-2 center-by-flex">
					<a class="nav-link dropdown-toggle" href="#" id="profile_dropdown" role="button" data-bs-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false" style="">
						<!--<span><i class="fa fa-user fa-lg" aria-hidden="true"></i></span>-->
						<div class="navbar-circle-progress">
							<div class="navbar-progress-level">
								<div class="navbar-profile-picture">
									{% if request.user.profile.default_profile_image %}
									<img src="{{ request.user.profile.default_profile_image }}" alt="Not found">
									{% else %}
									<img src="{% static 'img/profile_pictures/pp3.jpg' %}" alt="Not found">
									{% endif %}
								</div>
							</div>
							<div class="navbar-level">
								<h3>{{ request.user.profile.level|to_int }}</h3>
							</div>
						</div>
					</a>
					<ul class="dropdown-menu dropdown-menu-dark dropdown-menu-lg-end" aria-labelledby="profile_dropdown">
						<li>
							<a class="dropdown-item" href="{% url 'profile' %}">
								<!-- <span class="me-1"><i class="fa fa-user fa-lg"></i></span> -->
								<div class="navbar-circle-progress">
									<div class="navbar-progress-level">
										<div class="navbar-profile-picture">
											{% if request.user.profile.default_profile_image %}
											<img src="{{ request.user.profile.default_profile_image }}" alt="Not found">
											{% else %}
											<img src="{% static 'img/profile_pictures/pp3.jpg' %}" alt="Not found">
											{% endif %}
										</div>
									</div>
									<div class="navbar-level">
										<h3>{{ request.user.profile.level|to_int }}</h3>
									</div>
								</div>
								<p class="d-inline-block text-center w-100 mt-1">{{ request.user.username|title }}</p>
							</a>
						</li>

						{% if request.user.is_superuser %}
						<li class="nav-item">
							<a class="dropdown-item" href="{% url 'index_admin' %}">
								<span class="me-1"><i class="fas fa-user-gear"></i></span>
								<p class="d-inline-block">Admin</p>
							</a>
						</li>
						{% endif %}

						<li>
							<hr class="dropdown-divider">
						</li>
						<li>
							<a class="dropdown-item" href="{% url 'stories' %}?collection=liked&p=1">
								<span class="me-1"><i class="fas fa-heart fa-lg"></i></span>
								<p class="d-inline-block">Favorites</p>
							</a>
						</li>
						<li>
							<a class="dropdown-item" href="{% url 'stories' %}?collection=saved&p=1">
								<span class="me-1"><i class="fas fa-bookmark fa-lg"></i></span>
								<p class="d-inline-block">Saved</p>
							</a>
						</li>
						<!--
							<li>
								<a class="dropdown-item" href="#/">
									<span class="me-1"><i class="fa-solid fa-book-open fa-lg"></i></span>
									<p class="d-inline-block">Diary</p>
								</a>
							</li>
						-->
						<li>
							<hr class="dropdown-divider">
						</li>
						<li>
							<a class="dropdown-item" href="{% url 'logout' %}">
								<span class="me-1"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i></span>
								<p class="d-inline-block">Logout</p>
							</a>
						</li>

					</ul>
				</li>
				<!-- End Dropdown profile options -->
			</ul>
			{% else %}
			<ul class="navbar-nav text-center">
				<li class="d-inline-block m-1">
					<a href="{% url 'login' %}" class="btn hover-scale fw-bold hover-orange" style="border-radius: 20px;
					background-color: #fafa14;">Iniciar sesión</a>
				</li>

				<li class="d-inline-block m-1">
					<a href="{% url 'register' %}" class="btn hover-scale fw-bold hover-orange" style="border-radius: 20px;
					background-color: #fdfda4;">Registrarse</a>
				</li>
			</ul>
			{% endif %}
		</div>
	</div>
</nav>