{% load static %}
{% load filters %}

<div class="sidebar" {% if not request.user.is_authenticated %} style="display: none;" {% endif %} id="sidebar">
  <ul class="sidebar-nav">
    <li class="sidebar-logo">
      <div class="sidebar-link">
        <div class="sidebar-logo-img-container">
          <img src="{% static 'img/sq_logos/sq_full_white.png' %}" alt="sq_logo.png">
        </div>
        <span id="collapse_sidebar_button"><i class="fa-solid fa-angles-right"></i></span>
      </div>
    </li>

    <li class="sidebar-item">
      <a class="sidebar-link" href="{% url 'index' %}">
        <span class="sidebar-icon"><i class="fa-solid fa-house"></i></span>
        <span class="sidebar-link-text">Inicio</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="{% url 'stories' %}">
        <span class="sidebar-icon"><i class="fa-solid fa-book-open"></i></span>
        <span class="sidebar-link-text">Galería</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="{% url 'flashcards_collections' %}">
        <span class="sidebar-icon"><i class="fas fa-note-sticky"></i></span>
        <span class="sidebar-link-text">Flashcards</span>
      </a>
    </li>
    {% if request.user.is_superuser or request.user.is_staff %}
    <li class="sidebar-separator"></li>
    <li class="sidebar-header"><span>Admin</span></li>
    {% if request.user.is_staff %}
    <li class="sidebar-item">
      <a class="sidebar-link" href="{% url 'admin_stories' %}">
        <span class="sidebar-icon"><i class="fa-solid fa-book"></i></span>
        <span class="sidebar-link-text">Historias</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="{% url 'tags' %}">
        <span class="sidebar-icon"><i class="fa-solid fa-tags"></i></span>
        <span class="sidebar-link-text">Etiquetas</span>
      </a>
    </li>
    {% endif %}
    {% if request.user.is_superuser %}
    <li class="sidebar-item">
      <a class="sidebar-link" href="{% url 'management_users' %}">
        <span class="sidebar-icon"><i class="fa-solid fa-users-gear"></i></span>
        <span class="sidebar-link-text">Usuarios</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="{% url 'recommenders' %}">
        <span class="sidebar-icon"><i class="fa-solid fa-comments"></i></span>
        <span class="sidebar-link-text">Recomendadores</span>
      </a>
    </li>
    {% endif %}
    {% endif %}
  </ul>

</div>