{% load static %}
{% load filters %}

<div {% if request.user.is_authenticated %} class="sidebar" {% else %} class="sidebar width0" {% endif %} id="sidebar">
  <ul class="sidebar-nav">
    <li class="sidebar-logo">
      <div class="sidebar-link">
        <div class="sidebar-logo-img-container">
          <img src="{% static 'img/sq_logos/sq_full_white.png' %}" alt="sq_logo.png">
        </div>
        <span id="collapse_sidebar_button"><i class="fa-solid fa-angles-right"></i></span>
      </div>
    </li>
    <li class="sidebar-item index_link">
      <a class="sidebar-link" href="{% url 'index' %}">
        <span class="sidebar-icon"><i class="fa-solid fa-house"></i></span>
        <span class="sidebar-link-text">Inicio</span>
      </a>
    </li>
    {% if request.user.is_authenticated %}
    <li class="sidebar-item stories_gallery_link">
      <a class="sidebar-link" href="{% url 'stories' %}">
        <span class="sidebar-icon"><i class="fa-solid fa-book-open"></i></span>
        <span class="sidebar-link-text">Galería</span>
      </a>
    </li>
    <li class="sidebar-item flashcards_link">
      <a class="sidebar-link" href="{% url 'flashcards_collections' %}">
        <span class="sidebar-icon"><i class="fas fa-note-sticky"></i></span>
        <span class="sidebar-link-text">Flashcards</span>
      </a>
    </li>
    {% if request.user.is_superuser or request.user.is_staff %}
    <li class="sidebar-separator"></li>
    <li class="sidebar-header"><span>Admin</span></li>
    {% if request.user.is_staff %}
    <li class="sidebar-item admin_stories_link">
      <a class="sidebar-link" href="{% url 'admin_stories' %}">
        <span class="sidebar-icon"><i class="fa-solid fa-book"></i></span>
        <span class="sidebar-link-text">Historias</span>
      </a>
    </li>
    <li class="sidebar-item admin_tags_link">
      <a class="sidebar-link" href="{% url 'tags' %}">
        <span class="sidebar-icon"><i class="fa-solid fa-tags"></i></span>
        <span class="sidebar-link-text">Etiquetas</span>
      </a>
    </li>

    <li class="sidebar-item admin_reports_link">
      <a class="sidebar-link" href="{% url 'reports' %}">
        <span class="sidebar-icon" id="sidebar_report_icon_container">
          <i class="fa-solid fa-flag"></i>
          <div class="notification-pill-container {% if reports_unread_number == 0 %} d-none {% endif %}">
            <p>{{ reports_unread_number |count_max }}</p>
          </div>
        </span>
        <span class="sidebar-link-text">Reportes</span>
      </a>
    </li>
    {% endif %}
    {% if request.user.is_superuser %}
    <li class="sidebar-item admin_users_link">
      <a class="sidebar-link" href="{% url 'management_users' %}">
        <span class="sidebar-icon"><i class="fa-solid fa-users-gear"></i></span>
        <span class="sidebar-link-text">Usuarios</span>
      </a>
    </li>
    <li class="sidebar-item admin_recommenders_link">
      <a class="sidebar-link" href="{% url 'recommenders' %}">
        <span class="sidebar-icon"><i class="fa-solid fa-wand-magic-sparkles"></i></span>
        <span class="sidebar-link-text">Recomendadores</span>
      </a>
    </li>
    {% endif %}
    {% endif %}
    {% else %} <!-- if user is not authenticated -->
    <li class="sidebar-item">
      <a href="{% url 'login' %}" class="btn hover-scale fw-bold hover-orange" style="border-radius: 20px;
        background-color: #fafa14; margin:1rem 0; width:100%">Iniciar sesión</a>
    </li>

    <li class="sidebar-item">
      <a href="{% url 'register' %}" class="btn hover-scale fw-bold hover-orange" style="border-radius: 20px;
      background-color: #fdfda4; margin:1rem 0; width:100%">Registrarse</a>
    </li>
    {% endif %}
  </ul>

</div>