{% extends 'main_template.html' %}
{% load static %}
{% load filters %}

{% block title %} Flashcards collections {% endblock %}

{% block page-styles %}
<link rel="stylesheet" href="{% static 'css/user/flashcards.css' %}">
{% endblock %}

{% block content %}
<div class="container main-content">

	<div class="row mt-3">
		<div class="col-12 page-title-container">
			<h1 class="fs-1">Flashcards collections</h1>
		</div>
	</div>

	<hr>
	<div class="row">
		<div class="col-12 text-end mb-3">
			<button class="btn btn-success mt-3" style="color:#fff;" href="#" type="button" title="Create a new collection"
				data-bs-toggle="modal" data-bs-target="#add_new_collection">
				+
			</button>
		</div>
		<div class="flashcards_collection">
			{% for fcc in flashcards_collections %}
			<div class="flashcard_collection_container" id="flashcards_collection_{{fcc.id}}">
				<a href="{% url 'flashcards' fcc.id %}">
					<div class="flash_title">
						<h3>{{ fcc.collection_name }}</h3>

					</div>
					<hr>
					{% if fcc.description %}
					<p>{{ fcc.description }}</p>
					{% else %}
					<p>{{ fcc.collection_name }}</p>
					{% endif %}
				</a>
				<div class="action-buttons">
					<button class="btn btn-info shadow-none" type="button" title="Editar colección" data-bs-toggle="modal"
						data-bs-target="#modal_edit_{{fcc.id}}">
						<i class="fa-solid fa-pen"></i>
					</button>
					<button class="btn btn-danger shadow-none" type="button" title="Eliminar colección" data-bs-toggle="modal"
						data-bs-target="#modal_delete_{{fcc.id}}">
						<i class="fa-solid fa-trash"></i>
					</button>
				</div>
				<!-- Modal Edit collection -->
				<div class="modal fade" id="modal_edit_{{fcc.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
					aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title c-primary col-11 text-center fw-bold">Editar colección de flashcards</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
							</div>
							<div class="modal-body">
								<form action="{% url 'edit_flashcards_collection' fcc.id %}" autocomplete="off" method="post"
									id="nc_form_{{ fcc.id }}" class="form-label-bold">
									{% csrf_token %}
									<div class="mb-2">
										<label for="nc_name_{{ fcc.id }}" class="form-label c-primary">Nombre de la colección</label>
										<input type="text" class="form-control" name="collection_name" id="nc_name_{{ fcc.id }}"
											placeholder="Nombre de la colección" maxlength="100" value="{{ fcc.collection_name }}" required>
									</div>
									<div class="mb-2">
										<label for="nc_description_{{ fcc.id }}" class="form-label c-primary">Descripción</label>
										<input type="text" class="form-control" name="description" id="nc_description_{{ fcc.id }}"
											placeholder="Agrega una pequeña descripción" maxlength="255" value="{{ fcc.description }}">
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
								<button type="sumbit" class="btn btn-primary" form="nc_form_{{ fcc.id }}">Guardar</button>
							</div>
						</div>
					</div>
				</div>
				<!-- End of Modal Edit collection -->
				<!-- Modal Delete collection -->
				<div class="modal fade" id="modal_delete_{{fcc.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
					aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title  col-11 text-center">¿Desea eliminar esta colección?</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
								<button type="button" class="btn btn-danger" onclick="deleteCollection('{{fcc.id}}')"
									data-bs-dismiss="modal">
									Eliminar</button>
							</div>
						</div>
					</div>
				</div>
				<!-- End of Modal Delete collection -->

			</div>
			{% empty %}
			<div class="col-12 text-center mb-3">
				<h2 class="fs-3" style="font-weight: 500;">No tienes colecciones de flashcards aún</h2>
			</div>
			{% endfor %}
		</div>


	</div>

</div>
<!-- Modals -->
<!-- Add new collection -->
<div class="modal fade" id="add_new_collection" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title c-primary col-11 text-center fw-bold">Crear una nueva colección de flashcards</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
			</div>
			<div class="modal-body">
				<form action="{% url 'add_flashcards_collection' %}" autocomplete="off" method="post" id="nc_form"
					class="form-label-bold">
					{% csrf_token %}
					<div class="mb-2">
						<label for="nc_name" class="form-label c-primary">Nombre de la colección</label>
						<input type="text" class="form-control" name="collection_name" id="nc_name"
							placeholder="Nombre de la colección" maxlength="100" required>
					</div>
					<div class="mb-2">
						<label for="nc_description" class="form-label c-primary">Descripción</label>
						<input type="text" class="form-control" name="description" id="nc_description"
							placeholder="Agrega una pequeña descripción" maxlength="255">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
				<button type="sumbit" class="btn btn-primary" form="nc_form">Agregar</button>
			</div>
		</div>
	</div>
</div>
<!-- End of add new collection -->

<br><br>
{% endblock %}

{% block page-scripts %}
<script>
	function deleteCollection(collection_id) {

		let url_delete_collection = "{% url 'del_flashcards_collection' 0 %}".replace('0', collection_id);
		const csrftoken = getCookie('csrftoken');
		$.ajax({
			type: "POST",
			url: url_delete_collection,
			headers: { "X-CSRFToken": csrftoken },
			success: function (response) {
				//console.log(response);
				if (response.message == 'success') {
					document.getElementById('flashcards_collection_' + collection_id).remove();
				}
			},
			error: function (response) {
				//console.log(response);
			}
		});
	}
</script>
{% endblock %}