{% extends 'main_template.html' %}
{% load static %}
{% load filters %}

{% block title %} Flashcards {% endblock %}

{% block page-styles %}
<link rel="stylesheet" href="{% static 'css/user/flashcards.css' %}">
<style>
	.show {
		display: block;
	}

	.hide {
		display: none;
	}
</style>
{% endblock %}

{% block content %}
<div class="container main-content">

	<div class="row mt-3">
		<div class="col-12 page-title-container">
			<h1 class="fs-1">{{ fc_collection.collection_name }}</h1>
			<p>{{ fc_collection.description }}</p>
		</div>
	</div>

	<hr>
	<div class="row">
		<div class="col-12 text-end mb-3">
			<button class="btn btn-success mt-3" style="color:#fff;" href="#" type="button" title="Create a new collection"
				data-bs-toggle="modal" data-bs-target="#add_new_flashcard">
				+
			</button>
		</div>

		{% for fc in flashcards %}
		<div class="flashcards">
			{{ fc.front }} / {{ fc.back }}
		</div>
		{% empty %}
		<div class="col-12 text-center mb-3">
			<h2 class="fs-3" style="font-weight: 500;">Esta colección no tiene flashcards aún</h2>
		</div>
		{% endfor %}

	</div>

</div>
<!-- Modals -->
<!-- Add new collection -->
<div class="modal fade" id="add_new_flashcard" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title c-primary col-11 text-center fw-bold">Crear una nueva flashcard</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
			</div>
			<div class="modal-body">
				<form action="{% url 'add_flashcard' fc_collection.id %}" autocomplete="off" method="post" id="nfc_form"
					class="form-label-bold">
					{% csrf_token %}
					<div class="mb-2">
						<label for="fc_front" class="form-label c-primary">Frente</label>
						<input type="text" class="form-control" name="front" id="fc_front" placeholder="Texto principal"
							maxlength="100" required>
					</div>

					<div class="mb-2">
						<label for="fc_reverse" class="form-label c-primary">Reverso</label>
						<input type="text" class="form-control" name="back" id="fc_reverse" placeholder="Texto al reverso"
							maxlength="255">
					</div>

					<div class="mb-2">
						<label for="nc_color" class="form-label fw-bold">Color</label>
						<input class="form-control form-control-color text-center shadow-none" type="color" name="color"
							id="nc_color" value="#cbe5ff">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
				<button type="sumbit" class="btn btn-primary" form="nfc_form">Agregar</button>
			</div>
		</div>
	</div>
</div>
<!-- End of add new collection -->

<br><br>
{% endblock %}

{% block page-scripts %}
<script>
	document.querySelector('.flashcards_collections_link').classList.add('active');
</script>
<script>
	function deleteCollection(collection_id) {

		let url_delete_collection = "{% url 'del_flashcards_collection' 0 %}".replace('0', collection_id);
		const csrftoken = getCookie('csrftoken');
		$.ajax({
			type: "POST",
			url: url_delete_collection,
			headers: { "X-CSRFToken": csrftoken },
			success: function (response) {
				//console.log(response);
				if (response.message == 'success') {
					document.getElementById('flashcards_collection_' + collection_id).remove();
				}
			},
			error: function (response) {
				//console.log(response);
			}
		});
	}
</script>
{% endblock %}