{% extends 'main_template.html' %}
{% load static %}
{% load filters %}

{% block title %} Story Quest {% endblock %}

{% block page-styles %}
<link rel="stylesheet" href="{% static 'css/user/index_user.css' %}">
{% endblock %}

{% block content %}
<div class="container main-content">

	<div class="row mt-3">
		<div class="col-12 page-title-container">
			<h2 class="fs-1">{{ page_title }}</h2>
		</div>
	</div>

	<div class="row my-3 w-100" id="query_results" style="justify-content: center; margin: 0;">
		{% for story in stories %}
		<div class="col-12 col-md-6 p-3" name="story_slot" id="story_{{ story.id }}">
			<div class="col-12 new-card-container text-center">
				<a href="{% url 'story_info' story.route %}" class="">
					<img src="{{ story.cover.url }}" class="p-1" alt="{{ story.cover }}">
					<strong class="fs-6">{{ story.title1 }} </strong>
				</a>
			</div>
		</div>
		{% empty %}
		<div class="col-12 text-center mb-3">
			<h2 class="fs-2">{{ message_if_empty }}</h2>
		</div>
		{% endfor %}
	</div>

</div>
{% endblock %}

{% block page-scripts %}
<script>
	document.querySelector('.index_link').classList.add('active');
</script>
{% endblock %}