{% extends 'main_template.html' %}
{% load static %}
{% load filters %}

{% block title %} Profile {% endblock %}

{% block page-styles %}
<link rel="stylesheet" href="{% static 'css/user/profile.css' %}">
{% endblock %}

{% block content %}

<div class="container main-content">
  <div class="row mt-3">
    <div class="col-12 page-title-container">
      <h1 class="fs-1" id="page_title">Profile</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="circle-progress">
        <div class="progress-level" id="progress_level">
          <div class="profile-picture my-3">
            <img src="{% static 'img/profile_pictures/pp3.jpg' %}" alt="Not found">
          </div>
        </div>
        <div class="level">
          <h3>1</h3>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 text-center">
      <div class="profile-info-container">
        <h2 class="fs-2">{{ profile.user.username | title }}</h2>

        <div class="col-12">
          <div class="row link-btn-container">
            <a href="{% url 'liked_stories' %}" class="hover-scale link-btn">
              <span class="fs-4 fw-bold" style="color: #ff2126">
                <i class="fa-heart fas"></i>
              </span>
              <p>See liked stories</p>
            </a>
          </div>
        </div>

        <div class="col-12">
          <div class="row link-btn-container">
            <a href="{% url 'saved_stories' %}" class="hover-scale link-btn">
              <span class="fs-4 fw-bold" style="color:#5cffab;">
                <i class="fa-bookmark fas"></i>
              </span>
              <p>See saved stories</p>
            </a>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block page-scripts %}
<script>
  let db_user_xp = "{{ profile.xp }}";

</script>

<script>
  let f_counter = { "start": 0, "end": 0 };

  document.getElementById('page_title').innerHTML = createFlipHTML('Profile', 'Perfil', f_counter);

  setFunctionality(f_counter);

  let progress_lvl_dom = document.getElementById('progress_level');
  let progress_value = 0;
  let progress_end_value = 50;
  let speed = 20;

  let progress_lvl = setInterval(() => {
    progress_value++;
    progress_lvl_dom.style.background = `
    conic-gradient(#23fbb7 ${progress_value * 3.6}deg, #bbfff3 ${progress_value * 3.2}deg)
    `;
    if (progress_value == progress_end_value)
      clearInterval(progress_lvl);
  }, speed);


</script>
{% endblock %}