{% extends 'main_template.html' %}
{% load static %}
{% load filters %}

{% block title %} Profile {% endblock %}

{% block page-styles %}
<link rel="stylesheet" href="{% static 'css/user/profile.css' %}">
{% endblock %}

{% block content %}

<div class="container main-content">
  <div class="row mt-3">
    <div class="col-12 page-title-container">
      <h1 class="fs-1" id="page_title">Profile</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="circle-progress">
        <div class="progress-level" id="progress_level">
          <div class="profile-picture my-3">
            {% if profile.default_profile_image %}
            <img src="{{ profile.default_profile_image }}" alt="Not found">
            {% else %}
            <img src="{% static 'img/profile_pictures/pp3.jpg' %}" alt="Not found">
            {% endif %}
          </div>
        </div>
        <div class="level">
          <h3>{{ profile.level|to_int }}</h3>
        </div>
        <div id="change_profile_picture" data-bs-toggle="modal" data-bs-target="#modal_change_pp">
          <span><i class="fa-solid fa-camera"></i></span>
        </div>
        <div class="modal fade" id="modal_change_pp" tabindex="-1" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title col-11 text-center">Change profile image</h5>
                <div class="col-1 text-center">

                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                </div>
              </div>

              <div class="modal-body">
                <div class="row">

                  <div class="col-12">
                    <form method="post" id="change_img_form" class="row">
                      {% csrf_token %}
                      {% for value, label in default_image_form.default_profile_image.field.choices %}
                      {% if value %}
                      <div class="col-6 col-lg-3 text-center">
                        <div class="square-box">
                          <div class="square-content">
                            {% if default_image_form.default_profile_image.value|to_str == value|to_str %}
                            <input type="radio" name="{{ default_image_form.default_profile_image.name }}"
                              value="{{ value }}" checked
                              id="{{ default_image_form.default_profile_image.id_for_label }}_{{ value }}">
                            <span id="default_pp" hidden></span>
                            {% else %}
                            <input type="radio" name="{{ default_image_form.default_profile_image.name }}"
                              value="{{ value }}"
                              id="{{ default_image_form.default_profile_image.id_for_label }}_{{ value }}">
                            {% endif %}
                            <label for="{{ default_image_form.default_profile_image.id_for_label }}_{{ value }}">
                              <img src="{{ value }}" alt="{{ label }}">
                            </label>
                          </div>

                        </div>
                      </div>
                      {% endif %}
                      {% endfor %}
                    </form>
                  </div>
                </div>
              </div>

              <div class="modal-footer">
                <div class="col-12 text-center">
                  <button type="button" class="btn hover-scale m-1"
                    style="background-color: #f2864b; border-radius: 20px; color:#fff;"
                    data-bs-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn hover-scale m-1"
                    style="background-color: #ff5100; border-radius: 20px; color:#fff;" form="change_img_form"
                    data-bs-dismiss="modal">
                    Save
                  </button>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-12 text-center">
          {{ statistics.level.progress_xp|to_int }} / {{ statistics.level.range_xp }}
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 text-center">
      <div class="profile-info-container">
        <h2 class="fs-2">{{ profile.user.username | title }}</h2>

        <div class="col-12">
          <div class="row link-btn-container">
            <a href="{% url 'stories' %}?collection=liked&p=1" class="hover-scale link-btn">
              <span class="fs-4 fw-bold" style="color: #ff2126">
                <i class="fa-heart fas"></i>
              </span>
              <p>See your liked stories</p>
            </a>
          </div>
        </div>

        <div class="col-12">
          <div class="row link-btn-container">
            <a href="{% url 'stories' %}?collection=saved&p=1" class="hover-scale link-btn">
              <span class="fs-4 fw-bold" style="color:#5cffab;">
                <i class="fa-bookmark fas"></i>
              </span>
              <p>See your saved stories</p>
            </a>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="container main-content">
  <div class="row mt-3">
    <div class="col-12 page-title-container">
      <h2 class="fs-2" id="statistics_title">Statistics</h2>
    </div>
  </div>
  <div class="row">
    <div class="statistics-container">
      <div class="statistic-circle-progress" id="writing_average">
        <div class="basic-progress-level">
          <div class="label">
            <h3>{{ statistics.writing.grade }}</h3>
          </div>
        </div>
        <p class="statistic-title">Writing</p>
      </div>

      <div class="statistic-circle-progress" id="comprehension_average">
        <div class="basic-progress-level">
          <div class="label">
            <h3>{{ statistics.comprehension.grade }}</h3>
          </div>
        </div>
        <p class="statistic-title">Comprehension</p>
      </div>

      <div class="statistic-circle-progress" id="speaking_average">
        <div class="basic-progress-level">
          <div class="label">
            <h3>{{ statistics.speaking.grade }}</h3>
          </div>
        </div>
        <p class="statistic-title">Speaking</p>
      </div>
    </div>
  </div>
</div>


<div class="container main-content">
  <div class="row mt-3">
    <div class="col-12 page-title-container">
      <h2 class="fs-2" id="high_scores_title">High scores</h2>
    </div>
  </div>
  <div class="row" id="scores_table">
    <div class="col-12 text-center">
      <h3 class="fs-2" name="title"></h3>
    </div>
    <div class="col-12 fs-3 text-center">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr name="table_header">
              <th scope="col" class="fs-4" id="table_title_grade">Grade</th>
              <th scope="col" class="fs-4" id="table_title_story">Story</th>
              <th scope="col" class="fs-4" id="table_title_date">Date</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for score in u_high_scores %}
            <tr>
              <th scope="row" class="fs-6"> {{ score.grade }}</th>
              <td class="fs-6">{{ score.score.story.title1 }}</td>
              <td class="fs-6">{{ score.score.date|date:"j/n/Y" }} {{ score.score.date|time:"g:i a" }}</td>
              <td class="story_link">
                <a href="{% url 'story_info' score.score.story.route %}" target="_blank">
                  <span><i class="fa-solid fa-arrow-up-right-from-square"></i></span>
                </a>
                <!-- 
                  <a href="{% url 'story_info' score.score.story.route %}">
                    <span><i class="fa-solid fa-arrow-right"></i></span>
                  </a>
                -->
              </td>
            </tr>
            {% empty %}
            <tr>
              <th scope="row" class="fs-6"> # </th>
              <td class="fs-6"> # </td>
              <td class="fs-6"> # </td>
              <td class="fs-6"> # </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block page-scripts %}
<script>
  let db_writing_average = parseInt('{{ statistics.writing.average }}') || 0;
  let db_comprehension_average = parseInt('{{ statistics.comprehension.average }}') || 0;
  let db_speaking_average = parseInt('{{ statistics.speaking.average }}') || 0;
</script>
<script>
  let f_counter = { "start": 0, "end": 0 };
  document.getElementById('page_title').innerHTML = createFlipHTML('Profile', 'Perfil', f_counter);
  document.getElementById('statistics_title').innerHTML = createFlipHTML('Statistics', 'Estadísticas', f_counter);
  document.getElementById('high_scores_title').innerHTML = createFlipHTML('High scores', 'Altos puntajes', f_counter);

  document.querySelector('#writing_average .statistic-title').innerHTML = createFlipHTML('Writing', 'Escritura', f_counter);
  document.querySelector('#comprehension_average .statistic-title').innerHTML = createFlipHTML('Comprehension', 'Comprensión', f_counter);
  document.querySelector('#speaking_average .statistic-title').innerHTML = createFlipHTML('Speaking', 'Pronunciacion', f_counter);

  document.getElementById('table_title_grade').innerHTML = createFlipHTML('Grade', 'Nota', f_counter);
  document.getElementById('table_title_story').innerHTML = createFlipHTML('Story', 'Historia', f_counter);
  document.getElementById('table_title_date').innerHTML = createFlipHTML('Date', 'Fecha', f_counter);
  setFunctionality(f_counter);
</script>
<script src="{% static 'js/user/profile.js' %}"></script>
{% endblock %}