{% extends 'main_template.html' %}
{% load static %}

{% block title %} {{ story.title1 }} {% endblock %}

{% block page-styles %}
<link rel="stylesheet" href="{% static 'css/user/story_info.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/user/index_user.css' %}">
<link rel="stylesheet" href="{% static 'css/user/profile.css' %}">
{% endblock %}

{% block content %}
<div class="container main-content">

	<div class="row mt-3">
		<div class="col-2 back-btn-container">
			<a id="back_page_btn">
				<span><i class="fa-solid fa-arrow-left"></i></span>
			</a>
		</div>
		<div class="col-8 page-title-container">
			<h1 class="fs-1" id="story_title">Profile</h1>
		</div>
		<div class="col-2"></div>
	</div>

	<div class="row mt-3">
		<div class="col-12 col-md-6 text-center mt-3">
			<img class="info-img p-1" src="{{ story.cover.url }}" alt="{{ story.cover }}">
			<div class="row my-1">
				<div class="col-12 text-center">
					<span class="fs-4 fw-bold hover-scale" style="color: #ff2126" id="like_counter_btn">
						<i class="fa-heart"></i>
					</span>
					<p class="fs-5 d-inline-block" id="like_counter_lbl">1200</p>
				</div>
				<div class="col-12 text-center">
					<span class="fs-4 fw-bold hover-scale" style="color:#5cffab;" id="save_story_btn">
						<i class="fa-bookmark"></i>
					</span>
					<p class="fs-5 d-inline-block" id="save_story_lbl"></p>
				</div>
			</div>
		</div>

		<div class="col-12 col-md-6 mt-3">

			<div class="row mt-3">
				<div class="col-12 text-center">
					<strong class="fs-5">Tags</strong> <br>
					<div class="text-center">
						{% for t in story.tags.all %}
						<div class="rounded-pill tag">
							{{ t.name1 }}
						</div>
						{% empty %}
						<div class="rounded-pill tag">
							Others
						</div>
						{% endfor %}
					</div>
				</div>
			</div>

			<div class="row mt-3">
				<strong class="fs-5 text-center">Description</strong> <br>
				<div class="col-12 text-center">
					{% if not story.description1 %}
					<p class="fs-6 fst-italic"> This story don't have a description.</p>
					{% else %}
					<p class="fs-6 fst-italic"> {{ story.description1 | default:"" }}</p>
					{% endif %}
				</div>
			</div>

		</div>
	</div>

	<hr>
	<div class="row my-3">
		<div class="col-12 text-center">
			{% if total_pages > 0 %}
			<a href="{% url 'story_content' route=story.route page_number=page_number %}"
				class="btn btnr-f-orange fs-5 fw-bold m-2" id="start_answer_story" style="background-color: #fc7932;">
				Continue
			</a>
			<button onclick="deleteAnswers()" class="btn btnr-f-orange fs-5 fw-bold m-2">Start</button>
			{% else %}
			<button class="btn btnr-f-orange fs-5 fw-bold" disabled>Soon / Próximamente</button>
			{% endif %}
		</div>
	</div>
	<hr>

	<div id="results">
		{% include 'utils/story_statistics.html' %}
	</div>

	<hr>
	<div class="row my-3" id="scores_table">
		<div class="col-12 mt-3 text-center">
			<h3 class="fs-2" name="title"></h3>
		</div>
		<div class="col-12 fs-3 text-center">
			{% if not scores %}
			<h3 name="no_scores"></h3>
			{% else %}
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr name="table_header">
							<th scope="col" class="fs-4">Lugar</th>
							<th scope="col" class="fs-4">Puntaje</th>
							<th scope="col" class="fs-4">Fecha</th>
						</tr>
					</thead>
					<tbody>
						{% for score in scores %}
						<tr>
							<th scope="row" class="fs-6"># {{ forloop.counter }}</th>
							<td class="fs-6">{{ score.score_percentage }}</td>
							<td class="fs-6">{{ score.date|date:"j/n/Y" }} {{ score.date|time:"g:i a" }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			{% endif %}
		</div>
	</div>
	<div class="row my-3"></div>
</div>


{% if not recommendations_list|length == 0 %}
<!-- Content based recommender -->
<div class="container main-content">
	<div class="row mt-3">
		<div class="col-12 page-title-container">
			<h1 class="fs-1" id="related_title">Related</h1>
		</div>
	</div>

	<div class="row my-3 w-100" style="justify-content: center; margin: 0;">
		{% for sr in recommendations_list %}
		<div class="col-6 col-sm-4 col-md-3 p-3">
			<div class="col-12 new-card-container text-center">
				<a href="{% url 'story_info' sr.route %}" class="">
					<img src="{{ sr.cover.url }}" class="p-1" alt="{{ sr.cover }}">
					<strong class="fs-6">{{ sr.title1 }} </strong>
				</a>
			</div>
		</div>
		{% empty %}
		{% endfor %}
	</div>
</div>
{% endif %}

{% endblock %}

{% block page-scripts %}
<script>
	const URL_LIKE_STORY = '{% url "like_story" story.id %}';
	const URL_SAVE_STORY = '{% url "save_story" story.id %}';
	const URL_DELETE_ANSWERS = '{% url "delete_answers" story.id %}';

	let db_title = {};
	let db_story_id = '{{ story.id }}';
	let db_story_liked = JSON.parse('{{ story_liked }}');
	let db_story_saved = JSON.parse('{{ story_saved }}');
	let db_story_likes_number = '{{ story.likes_number }}';
	let db_best_score = parseInt('{{ high_score.score_percentage }}') || 0;

	try {
		db_title.title1 = '{{ story.title1 }}';
	} catch (e) { }
	try {
		db_title.title2 = '{{ story.title2 }}';
	} catch (e) { }

</script>
<script>
	let back_page_btn = document.getElementById('back_page_btn');
	if (window.history.length > 1) {
		back_page_btn.addEventListener('mouseenter', (e) => {
			back_page_btn.style.cursor = 'pointer';
		});
		back_page_btn.addEventListener('click', (e) => {
			window.history.back();
		});
	}
	else {
		back_page_btn.addEventListener('mouseenter', (e) => {
			back_page_btn.style.cursor = 'not-allowed';
		});
	}
</script>
<script src="{% static 'js/user/story_info.js' %}"></script>
<script>
	let f_counter = { "start": 0, "end": 0 };

	setTitle(f_counter);
	loadLikes();
	loadSaved();

	setStatisticsLabels(f_counter);
	setScoresLabels(f_counter);
	setRelatedTitle(f_counter);

	setFunctionality(f_counter);

	const counter_btn = document.getElementById("like_counter_btn");
	counter_btn.addEventListener('click', e => likeFunction(e));

	const save_btn = document.getElementById("save_story_btn");
	save_btn.addEventListener('click', e => saveFunction(e));

	let score_bar_dom = document.querySelector('#score_circle_progress .basic-progress-level');
	progressAnimation(score_bar_dom, db_best_score);

</script>

{% endblock %}