{% extends 'main_template.html' %}
{% load static %}

{% block title %} {{ story.title1 }} {% endblock %}

{% block page-styles %}
<link rel="stylesheet" href="{% static 'css/1.css' %}">
<link rel="stylesheet" href="{% static 'css/story_content.css' %}">

{% endblock %}

{% block navbar %} {% include 'navbar/navbar-logged.html' %} {% endblock %}

{% block content %}

<!-- Template 1 -->
<div class="container main-content">
  <div class="row mt-3">
    <div class="col-2 text-center fs-1">
      {% if prev_page is None %}
      <a href="{% url 'story_info' route=story.route %}"><i class='fa fa-arrow-circle-left'></i></a>
      {% else %}
      <a href="{% url 'story_content' route=story.route page_number=prev_page %}"><i
          class='fa fa-arrow-circle-left'></i></a>
      {% endif %}

    </div>
    <div class="col-8 text-center">
      <h1 class="fs-1 text-center">
        <div id="subtitle"></div>
      </h1>
    </div>
    <div class="col-2 text-center fs-1">
      {% if next_page is None %}
      <a href="{% url 'story_info' route=story.route %}"><i class='fa fa-arrow-circle-right'></i></a>
      {% else %}
      <a href="{% url 'story_content' route=story.route page_number=next_page %}"><i
          class='fa fa-arrow-circle-right'></i></a>
      {% endif %}

    </div>
  </div>

  <div class="row my-3">
    <div class="col-12">
      <div class="img-t-1">
        {% for i in images %}
        <img class="box-shadow border-radius-10px" src="{{ i.image.url | default:story.cover.url }}"
          alt="No se pudo cargar la imagen" id="img_showed">
        {% empty %}
        <img class="box-shadow border-radius-10px" src="{{ story.cover.url }}" alt="No se pudo cargar la imagen"
          id="img_showed">
        {% endfor %}
      </div>
      <!-- Content -->
      <div id="content_area"></div>

    </div>
  </div>

  <div class="row mb-3">
    <div class="col-12">
      <h2 class="fs-2 text-center my-3">Resuelve</h2>
    </div>
    <div class="col-12"><span id="exercises_area"></span></div>
  </div>



  <!-- Change page -->
  <div class="row mt-3">
    <div class="col-6">

    </div>
    <div class="col-6">

    </div>
  </div>
</div>

{% endblock %}

{% block page-scripts %}
<script>

  let db_subtitle = {}
  let db_images = {};
  let db_dialogues = {};
  let db_repeat_phrases = {};

  try {
    db_subtitle.subtitle1 = '{{ current_page.subtitle1 }}';
  } catch (e) { }
  try {
    db_subtitle.subtitle2 = '{{ current_page.subtitle2 }}';
  } catch (e) { }
  try {
    db_images = JSON.parse('{{ images_json |safe }}');
  } catch (e) { }
  try {
    db_dialogues = JSON.parse('{{ dialogues |safe |escapejs }}');
  } catch (e) { }
  try {
    db_repeat_phrases = JSON.parse('{{ repeat_phrases |safe |escapejs }}');
  } catch (e) { }

</script>
<script src="{% static 'js/story_content.js' %}"></script>
<script src="{% static 'js/sort_collections.js' %}"></script>

<script>
  let total_translations = { value: 0 };
  /* Subtitle */
  if (db_subtitle.subtitle1 && db_subtitle.subtitle2) {
    let flipClasses = {
      "paper": "mx-1",
      "front": "px-1",
      "back": "px-1"
    };
    let html_subtitle = createFlipHTML(db_subtitle.subtitle1, db_subtitle.subtitle2, total_translations, flipClasses);
    document.getElementById("subtitle").outerHTML = html_subtitle;
  }

  for (let element of collections_sorted) {
    switch (element.type) {
      case "image":
        break;
      case "dialogue":
        renderDialogue(element, total_translations);
        break;
      case "repeat_phrase":
        renderRepeatPhrase(element, total_translations);
        break;
    }
  }

  setFunctionality(total_translations.value);

  function renderDialogue(dialogue, total_translations) {
    let html_dialogue = ``;
    let text1 = dialogue.content1.replace(/\n/g, '<span></span>|');
    let text2 = dialogue.content2.replace(/\n/g, '<span></span>|');

    let flipClasses = {
      "paper": "fs-5 mx-1",
      "front": "px-1",
      "back": "px-1"
    };
    html_dialogue += `
    <div class="row" style="color:rgba(0,0,0,0)"><br></div>
    <div class="fw-bold fs-5 dialogue-name" style="color:`+ dialogue.color + `;">
      <p>`+ dialogue.name + `:</p>
    </div>
    `+ createFlipHTML(text1, text2, total_translations, flipClasses) + `
    <div id="content_area"></div>`;

    document.getElementById("content_area").outerHTML = html_dialogue;
  }

  function renderRepeatPhrase(repeat_phrase, total_translations) {
    let html_repeat_phrase = ``;
    let text1 = repeat_phrase.content1.replace(/\n/g, '<span></span>|');
    let text2 = repeat_phrase.content2.replace(/\n/g, '<span></span>|');

    let flipClasses = {
      "paper": "mx-1",
      "front": "px-1",
      "back": "px-1"
    };
    html_repeat_phrase = `
    <div class="row mb-3 fs-5">
      <div class="col-12 col-md-8">
        `+ createFlipHTML(text1, text2, total_translations, flipClasses) + `
      </div>
    <div class="col-12 col-md-4 my-1">
      <div class="row">
        <div class="col-6 text-center">
          Listen
          <div class="row">
            <i class='fas fa-volume-up'></i>
          </div>
        </div>
        <div class="col-6 text-center">
          Repeat
          <div class="row">
            <i class='fas fa-microphone'></i>
          </div>
        </div>
      </div>
    </div>
    <hr>
    </div><span id="exercises_area">`;

    document.getElementById("exercises_area").outerHTML = html_repeat_phrase;
  }

</script>

{% endblock %}