{% extends 'main_template.html' %}
{% load static %}

{% block title %} {{ story.title1 }} {% endblock %}

{% block page-styles %}
<link rel="stylesheet" href="{% static 'css/user/story_info.css' %}" type="text/css">
{% endblock %}

{% block navbar %} {% include 'navbar/navbar-logged.html' %} {% endblock %}

{% block content %}

<div class="container main-content">

	<div class="row mt-3">
		<div class="col-2 text-center fs-1">
			<a href="{% url 'index' %}"><i class='fa fa-arrow-circle-left'></i></a>
		</div>
	</div>

	<div class="row mt-3">
		<div class="col-12 text-center">
			<h1 class="fs-2 fw-bold">{{ story.title1 }}</h1>
		</div>
	</div>

	<div class="row mt-3">
		<div class="col-12 col-md-6 text-center mt-3">
			<img class="info-img p-1" src="{{ story.cover.url }}" alt="{{ story.cover }}">
		</div>

		<div class="col-12 col-md-6 mt-3">
			{% if story.tag.all %}
			<div class="row mt-3">
				<div class="col-12 text-center">
					<strong class="fs-5">Tags</strong> <br>
					<div class="text-center">
						{% for cat in story.tag.all %}
						<div class="tag px-3 py-1 fw-bold">
							{{ cat.name1 }}
						</div>
						{% empty %}
						<div class="tag px-3 py-1 fw-bold">
							Without category
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
			{% endif %}
			{% if story.description1 %}
			<div class="row mt-3">
				<strong class="fs-5 text-center">Description</strong> <br>
				<div class="col-12 text-center">
					<p class="fs-6"> {{ story.description1 | default:"No hay una descripción disponible" }}</p>
				</div>
			</div>
			{% endif %}
		</div>
	</div>

	<hr>
	<div class="row my-3">
		<div class="col-12 text-center">
			{% if total_pages > 0 %}
			<a onclick="cleanStorage()" href="{% url 'story_content' route=story.route page_number=page_number %}"
				class="btn btnr-f-orange fs-5 fw-bold">Empezar</a>
			{% else %}
			<button class="btn btnr-f-orange fs-5 fw-bold" disabled>Próximamente</button>
			{% endif %}
		</div>
	</div>
	<hr>
	<div class="row my-3">
		<div class="col-12 mb-3 text-center">
			<h3 class="fs-2">Puntuación más alta: {{ high_score.score |default:0 }}pt</h3>
		</div>
		<div class="col-12 col-md-6 text-center mb-3">
			<div class="d-inline-block">
				<div class="container-letter p-1 box-shadow">
					<div class="letter-grade">
						<h3>{{ high_score.letter_grade |default:'?' }}</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6">

			<div class="row my-3">
				<div class="col-12">
					<h3 class="fs-6 text-center">Comprensión</h3>
				</div>

				<div class="col-12">
					<div class="progress w-75 progress-styles">
						<div class="progress-bar" role="progressbar"
							style="width: {{ high_score.comprehension_percentage |default:0 }}%;"
							aria-valuenow=" {{ high_score.comprehension_percentage |default:0 }} " aria-valuemin="0"
							aria-valuemax="100"></div>
					</div>
				</div>
			</div>

			<div class="row my-3">
				<div class="col-12">
					<h3 class="fs-6 text-center">Pronunciación</h3>
				</div>

				<div class="col-12">
					<div class="progress w-75 progress-styles">
						<div class="progress-bar" role="progressbar"
							style="width: {{ high_score.speaking_percentage |default:0 }}%;"
							aria-valuenow=" {{ high_score.speaking_percentage |default:0 }} " aria-valuemin="0"
							aria-valuemax="100">
						</div>
					</div>
				</div>
			</div>

			<div class="row my-3">
				<div class="col-12">
					<h3 class="fs-6 text-center">Escritura</h3>
				</div>

				<div class="col-12">
					<div class="progress w-75 progress-styles">
						<div class="progress-bar" role="progressbar"
							style="width: {{ high_score.writing_percentage |default:0 }}%;"
							aria-valuenow=" {{ high_score.writing_percentage |default:0 }} " aria-valuemin="0"
							aria-valuemax="100">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row my-3">
		<div class="col-12 mt-3 text-center">
			<h3 class="fs-2">Puntuaciones</h3>
		</div>
		<div class="col-12 fs-3 text-center">
			{% if not scores %}
			<h3 class="">Aún no hay registros</h3>
			{% else %}
			<table class="table">
				<thead>
					<tr>
						<th scope="col" class="fs-4">Lugar</th>
						<th scope="col" class="fs-4">Puntaje</th>
						<th scope="col" class="fs-4">Fecha</th>
					</tr>
				</thead>
				<tbody>
					{% for score in scores %}
					<tr>
						<th scope="row" class="fs-6"># {{ forloop.counter }}</th>
						<td class="fs-6">{{ score.score }}</td>
						<td class="fs-6">{{ score.date|date:"j/n/Y" }} {{ score.date|time:"g:i a" }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% endif %}
		</div>
	</div>
	<div class="row my-3"></div>
</div>

<br><br><br><br><br>


{% endblock %}

{% block page-scripts %}
<script>
	db_story_id = '{{ story.id }}';
	function cleanStorage() {
		localStorage.removeItem('story_answers_' + db_story_id);
	}
</script>
{% endblock %}