{% extends 'main_template.html' %}
{% load static %}

{% block title %} {{ story.title1 }} {% endblock %}

{% block page-styles %}
<link rel="stylesheet" href="{% static 'css/user/story_render.css' %}">
<link rel="stylesheet" href="{% static 'css/user/story_info.css' %}">
<style>
  .img-t-1 {
    width: 33%;
    height: auto;
    align-items: center;
    margin: 2%;
    float: left;
  }

  .img-t-1 img {
    margin: auto;
    width: 100%;
    display: inline-block;
  }

  .text-wrap {
    width: auto;
    text-align: justify;
    float: right;
  }

  .txta {
    background-color: #fff;
    outline: none;
    padding-bottom: 10px;
    resize: none;
    max-height: 150px;
  }

  .txta::-webkit-scrollbar {
    width: 0px;
  }

  .change-img {
    width: 20%;
    min-width: 40px;
    min-height: 40px;
    background-color: #f89a16;
    border-radius: 100%;
    float: left;
    position: relative;
    margin-top: -50px;
    margin-left: 2%;
    transition: all 0.2s ease-in-out;
  }

  .change-img:hover {
    transform: scale(1.1);
  }
</style>
{% endblock %}

{% block content %}

<!-- Template 1 -->
<div class="container main-content">
  <div class="row mt-3">
    <div class="col-12 text-center text-muted fs-4">{{ page_number }}/{{ total_pages }}</div>
  </div>
</div>
<div class="container main-content">
  <div class="row mt-3">
    <div class="col-2 text-center fs-1">
      {% if prev_page is None %}
      <a href="{% url 'story_info' route=story.route %}" class="btn-back-next"><i
          class='fa fa-arrow-circle-left'></i></a>
      {% else %}
      <a href="{% url 'story_content' route=story.route page_number=prev_page %}" class="btn-back-next"><i
          class='fa fa-arrow-circle-left'></i></a>
      {% endif %}
    </div>
    <div class="col-8 text-center">
      <h1 class="fs-1 text-center">
        <div id="subtitle"></div>
      </h1>
    </div>
    <div class="col-2 text-center fs-1">
      {% if next_page is not None %}
      <a href="{% url 'story_content' route=story.route page_number=next_page %}" class="btn-back-next"><i
          class='fa fa-arrow-circle-right'></i></a>
      {% endif %}
    </div>
  </div>

  <div class="row my-3">
    <div class="col-12">
      <div class="img-t-1">
        {% for i in images %}
        <img class="box-shadow border-radius-10px p-1" src="{{ i.image.url | default:story.cover.url }}"
          alt="No se pudo cargar la imagen" id="img_showed">
        {% empty %}
        <img class="box-shadow border-radius-10px p-1" src="{{ story.cover.url }}" alt="No se pudo cargar la imagen"
          id="img_showed">
        {% endfor %}
      </div>
      <!-- Content -->
      <div id="content_area"></div>

    </div>
  </div>

</div>
<div class="container main-content">
  <div class="row mt-3">
    <div class="col-12">
      <h2 class="fs-3 text-center mt-3" id="answer_questions_message"></h2>
      <hr style="color: var(--f-orange); height: 5px;">
    </div>
    <div class="col-12"><span id="exercises_area"></span></div>
  </div>

  <div class="row">
    <div class="col-12 mb-3 text-center">
      <button id="btn_send_answers" onclick="sendAnswers()" type="button" class="btn btnr-f-orange fw-bold fs-5">
        {% if next_page is None %}
        Evaluate pages / evaluar páginas
        {% else %}
        Send answers / Enviar respuestas
        {% endif %}
      </button>
    </div>
  </div>
</div>
<div class="container main-content">
  <div class="row my-3 d-none" id="results">
    <div class="col-12 mb-3 text-center">
      <h3 class="fs-2" name="title_score"></h3>
    </div>
    <div class="col-12 col-md-6 text-center mb-3">
      <div class="d-inline-block">
        <div class="container-letter p-1 box-shadow">
          <div class="letter-grade">
            <h3 name="letter_grade"></h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">

      <div class="row my-3" name="comprehension">
        <div class="col-12">
          <h3 class="fs-6 text-center" name="title"></h3>
        </div>
        <div class="col-12">
          <div class="progress w-75 progress-styles">
            <div class="progress-bar" role="progressbar" name="progress" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>

      <div class="row my-3" name="speaking">
        <div class="col-12">
          <h3 class="fs-6 text-center" name="title"></h3>
        </div>
        <div class="col-12">
          <div class="progress w-75 progress-styles">
            <div class="progress-bar" role="progressbar" name="progress" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
        </div>
      </div>

      <div class="row my-3" name="writing">
        <div class="col-12">
          <h3 class="fs-6 text-center" name="title"></h3>
        </div>
        <div class="col-12">
          <div class="progress w-75 progress-styles">
            <div class="progress-bar" role="progressbar" name="progress" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
{% if next_page is None %}
<input id="next_page_input" type="text" value="{% url 'story_info' route=story.route %}" hidden>
{% else %}
<input id="next_page_input" type="text" value="{% url 'story_content' route=story.route page_number=next_page %}"
  hidden>
{% endif %}

{% endblock %}

{% block page-scripts %}
<script>
  const URL_ANSWER_PAGE = '{% url "story_content" route=story.route page_number=page_number %}';
  const URL_NEXT_PAGE = document.getElementById("next_page_input").value;
  const URL_REQUEST_EXERCISE_ANSWER = '{% url "request_exercise_answer" %}';
  let db_page_number = parseInt('{{ page_number }}');
  let db_total_pages = parseInt('{{ total_pages }}');

  const LAST_PAGE = (db_page_number == db_total_pages) ? true : false;

  let db_story_id = '{{ story.id }}';
  let db_page_id = '{{ current_page.id }}';

  let db_subtitle = {};
  let db_images = {};
  let db_dialogues = {};
  let db_repeat_phrases = {};

  try {
    db_subtitle.subtitle1 = '{{ current_page.subtitle1 }}';
  } catch (e) { }
  try {
    db_subtitle.subtitle2 = '{{ current_page.subtitle2 }}';
  } catch (e) { }
  try {
    db_images = JSON.parse('{{ images_json |safe }}');
  } catch (e) { }
  try {
    db_dialogues = JSON.parse('{{ dialogues |safe |escapejs }}');
  } catch (e) { }
  try {
    db_repeat_phrases = JSON.parse('{{ repeat_phrases |safe |escapejs }}');
  } catch (e) { }
</script>

<script src="{% static 'js/sort_collections.js' %}"></script>
<script src="{% static 'js/user/functions_for_render_elements.js' %}"></script>
<script>
  let total_translations = { "start": 0, "end": 0 };

  setSubtitle(total_translations);

  setAnswerQuestionsMessage(total_translations);

  // Render elements
  for (let element of collections_sorted) {
    switch (element.type) {
      case "image":
        break;
      case "dialogue":
        renderDialogue(element, total_translations);
        break;
      case "repeat_phrase":
        renderRepeatPhrase(element, total_translations);
        break;
    }
  }

  setFunctionality(total_translations);

  function setSubtitle(total_translations) {
    let flipClasses = {
      "paper": "mx-1",
      "front": "px-1",
      "back": "px-1"
    };

    let sub1 = db_subtitle.subtitle1;
    let sub2 = db_subtitle.subtitle2;
    if (db_subtitle.subtitle1 == '' || db_subtitle.subtitle2 == '') {
      sub1 = "Page " + db_page_number;
      sub2 = "Página " + db_page_number;
    }
    let html_subtitle = createFlipHTML(sub1, sub2, total_translations, flipClasses);
    document.getElementById("subtitle").outerHTML = html_subtitle;
  }

  function setAnswerQuestionsMessage(total_translations) {
    let flipClasses = {
      "paper": "mx-1",
      "front": "px-1",
      "back": "px-1"
    };
    let text1 = "Make your best effort to answer!";
    let text2 = "¡Has tu mejor esfuerzo para contestar!";
    document.getElementById("answer_questions_message").innerHTML = createFlipHTML(text1, text2, total_translations, flipClasses);
  }
</script>
<script src="{% static 'js/user/answer_exercises.js' %}"></script>
<script>
  setVolumeFunctionality();
</script>
{% endblock %}