{% extends 'main_template.html' %}
{% load static %}

{% block title %} {{ story.title1 }} {% endblock %}

{% block page-styles %}
<link rel="stylesheet" href="{% static 'css/1.css' %}">
<link rel="stylesheet" href="{% static 'css/story_content.css' %}">
{% endblock %}

{% block navbar %} {% include 'navbar/navbar-logged.html' %} {% endblock %}

{% block content %}

<!-- Template 1 -->
<div class="container main-content">
  <div class="row mt-3">
    <div class="col-12 text-center text-muted fs-4">{{ page_number }}/{{ total_pages }}</div>
  </div>
</div>
<div class="container main-content">
  <div class="row mt-3">
    <div class="col-2 text-center fs-1">
      {% if prev_page is None %}
      <a href="{% url 'story_info' route=story.route %}"><i class='fa fa-arrow-circle-left'></i></a>
      {% else %}
      <a href="{% url 'story_content' route=story.route page_number=prev_page %}"><i
          class='fa fa-arrow-circle-left'></i></a>
      {% endif %}
    </div>
    <div class="col-8 text-center">
      <h1 class="fs-1 text-center">
        <div id="subtitle"></div>
      </h1>
    </div>
    <div class="col-2 text-center fs-1">
      {% if next_page is not None %}
      <a href="{% url 'story_content' route=story.route page_number=next_page %}"><i
          class='fa fa-arrow-circle-right'></i></a>
      {% endif %}
    </div>
  </div>

  <div class="row my-3">
    <div class="col-12">
      <div class="img-t-1">
        {% for i in images %}
        <img class="box-shadow border-radius-10px p-1" src="{{ i.image.url | default:story.cover.url }}"
          alt="No se pudo cargar la imagen" id="img_showed">
        {% empty %}
        <img class="box-shadow border-radius-10px p-1" src="{{ story.cover.url }}" alt="No se pudo cargar la imagen"
          id="img_showed">
        {% endfor %}
      </div>
      <!-- Content -->
      <div id="content_area"></div>

    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <h2 class="fs-2 text-center mt-3">Resuelve</h2>
    </div>
    <div class="col-12"><span id="exercises_area"></span></div>
  </div>



  <div class="row">
    <div class="col-12 mb-3 text-center">
      <!-- 
      <a href="{% url 'story_info' route=story.route %}"><i class='fa fa-arrow-circle-right'></i></a>
      -->
      <button id="btn_send_answers" onclick="sendAnswers()" type="button" class="btn btnr-f-orange fw-bold fs-5">
        Send answers / Enviar respuestas
      </button>
    </div>
  </div>

</div>
{% if next_page is None %}
<input id="next_page_input" type="text" value="{% url 'story_info' route=story.route %}" hidden>
{% else %}
<input id="next_page_input" type="text" value="{% url 'story_content' route=story.route page_number=next_page %}"
  hidden>
{% endif %}

{% endblock %}

{% block page-scripts %}
<script>
  const URL_ANSWER_PAGE = '{% url "story_content" route=story.route page_number=page_number %}';
  const URL_NEXT_PAGE = document.getElementById("next_page_input").value;
  let db_page_number = parseInt('{{ page_number }}');
  let db_total_pages = parseInt('{{ total_pages }}');

  const LAST_PAGE = (db_page_number == db_total_pages) ? true : false;

  let db_story_id = '{{ story.id }}'
  let db_page_id = '{{ current_page.id }}';

  let db_subtitle = {}
  let db_images = {};
  let db_dialogues = {};
  let db_repeat_phrases = {};

  try {
    db_subtitle.subtitle1 = '{{ current_page.subtitle1 }}';
  } catch (e) { }
  try {
    db_subtitle.subtitle2 = '{{ current_page.subtitle2 }}';
  } catch (e) { }
  try {
    db_images = JSON.parse('{{ images_json |safe }}');
  } catch (e) { }
  try {
    db_dialogues = JSON.parse('{{ dialogues |safe |escapejs }}');
  } catch (e) { }
  try {
    db_repeat_phrases = JSON.parse('{{ repeat_phrases |safe |escapejs }}');
  } catch (e) { }

</script>
<script src="{% static 'js/sort_collections.js' %}"></script>
<script src="{% static 'js/user/functions_for_render_elements.js' %}"></script>

<script>
  let total_translations = { value: 0 };
  /* Subtitle */
  if (db_subtitle.subtitle1 && db_subtitle.subtitle2) {
    let flipClasses = {
      "paper": "mx-1",
      "front": "px-1",
      "back": "px-1"
    };
    let html_subtitle = createFlipHTML(db_subtitle.subtitle1, db_subtitle.subtitle2, total_translations, flipClasses);
    document.getElementById("subtitle").outerHTML = html_subtitle;
  }

  for (let element of collections_sorted) {
    switch (element.type) {
      case "image":
        break;
      case "dialogue":
        renderDialogue(element, total_translations);
        break;
      case "repeat_phrase":
        renderRepeatPhrase(element, total_translations);
        break;
    }
  }

  setFunctionality(total_translations.value);
</script>

<script src="{% static 'js/user/answer_exercises.js' %}"></script>

{% endblock %}