.img-t-1{
    width: 33%;
    height: auto;
    align-items: center;
    margin: 20px;
    border: 1px solid #000;
    float: left;
}

.img-t-1 img{
    margin: auto;
    width: 100%;
    display: inline-block;
}

.text-wrap{
    width: auto;
    text-align: justify;
    float: right;
}

.txta {
	background-color: #FFF;
	outline: none;
    padding-bottom: 20px;
	resize: none;
	max-height: 150px;
}

.txta::-webkit-scrollbar{
  width: 0px;
}