.maxw-600{
    max-width: 800px;
    text-align: center;
}

.txt-historias {
	background-color: #FFF;
	outline: none;
    padding-bottom: 20px;
	resize: none;
	max-height: 300px;
}

.txt-historias::-webkit-scrollbar{
  width: 0px;
}