/* Styles for template 1 */
.template-1-image {
	width: 45%;
	height: auto;
	align-items: center;
	float: left;
	margin: 0 1rem 1rem 1rem;
}

.template-1-image img {
	width: 100%;
	display: inline-block;
	object-fit: contain;
}

@media only screen and (max-width: 400px) {
	.template-1-image {
		width: 100%;
		margin: 0;
		padding: 0;
		margin-bottom: 0.5rem;
		float: none;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.template-1-image img {
		width: 90%;
	}
}

/* End of styles for template 1 */
