.btn-regresar{
    margin: 10px 0px;
    transform: translate(-50px);
}
.btn-regresar a{
    color: #F2864B;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all .2s ease-in-out;
}
.btn-regresar label{
    font-weight: bold;
    margin-left: 10px;
}

.btn-regresar :hover{
    cursor: pointer;
    color: #e16421;
}

.main-history-container{
    width: 80%;
    margin: auto;
}

.seccion-1{
    min-height: 220px;
    display: flex;
}

.info-container-img{
    width: 19%;
    border: 1px solid #c0c0c0;
}

.info-container-img img{
    max-width: 100%;
    max-height: 200px;
}

.info-container-info{
    width: 79%;
    padding: 0px 30px;
    border: 1px solid #c0c0c0;
    vertical-align: text-bottom;
}

.titulo h1{
    font-size: 2em;
}
.descripcion h2{
    font-size: 1.3em;
    font-weight: normal;
}


.seccion-2{
    align-items: center;
    padding: 10px 0px;
    display: flex;
}

.container-categorias{
    width: 79%;
    display: inline-block;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

.categoria{
    background-color: #F2864B;
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 20px;
    font-weight: bold;
    font-size: .8em;
}

.container-empezar{
    width: 20%;
    display: inline-block;
    text-align: center; 
}

.btn-empezar{
    background-color: #49EB4B;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
    width: 80%;
    min-width: 100px;
    height: 100%;
    max-height: 50px;
    display: inline-block;
    text-align: center;
    transition: all .2s ease-in-out;
}

.btn-empezar:hover{
    color: #fff;
    background-color: #3dd33f;
}


.group-calificacion{
    display: flex;
}
.letra {
    margin: 0px 30px;
}
.estadisticas{
    width: 300px;
}

.marco-calificacion{
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 100%;
    border: 1px solid rgb(23, 133, 161);
    display: flex;
    align-items: center;
}

.calificacion{
    width: 190px;
    height: 190px;
    background-color: rgb(132, 230, 255);
    border-radius: 100%;
    margin: auto;
    display: table;
}

.calificacion h3{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font-size: 60px;
    font-weight: bold;
    margin: auto;
}

/*   Contenido de historias   */
.rojo{
    background-color: red;
}