/* More custom styles */
.styles-front,
.styles-back {
	border-radius: 10px;
}

.dialogue-name {
	position: relative;
	vertical-align: middle;
	display: inline-block;
	top: -0.55em;
}

.sound_icon {
	color: #77b9fc;
	border: 1px solid #77b9fc;
}
.sound_icon:hover,
.mic-icon:hover {
	color: #5bd971;
}

.mic-icon {
	color: #db8f70;
	border: 1px solid #db8f70;
}

.highlighted-icon {
	color: #fff !important;
	background-color: #5bd971;
}
