.styles-front,
.styles-back {
	border-radius: 10px;
}

.dialogue-name {
	position: relative;
	vertical-align: middle;
	display: inline-block;
	top: -0.55em;
}

.sound_icon {
	color: #77b9fc;
	border: 1px solid #77b9fc;
}
.sound_icon:hover,
.mic-icon:hover {
	color: #5bd971;
}

.mic-icon {
	color: #db8f70;
	border: 1px solid #db8f70;
}

.highlighted-icon {
	color: #fff !important;
	background-color: #5bd971;
}

.volume-controls {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--orange);
}

.adjust-volume-icon,
.adjust-volume-bar {
	display: inline-block;
	background-color: red;
	margin: auto;
}

.custom-range::-webkit-slider-thumb {
	background-color: #77b9fc;
}

.custom-range::-moz-range-thumb {
	background: #77b9fc;
}

.custom-range::-ms-thumb {
	background: #77b9fc;
}

-webkit-slider-thumb:active {
	background-color: red;
}
-webkit-slider-thumb,
.custom-range:focus::-webkit-slider-thumb,
.custom-range:focus::-moz-range-thumb,
.custom-range:focus::-ms-thumb {
	box-shadow: red;
}

/* Audio buttons */
.play-audio-btn {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	padding: 10px;
	border: 1px solid #77b9fc;
	background-color: #fff;
	transition: all 0.2s ease-in-out;
}
.play-audio-btn i {
	display: flex;
}
.play-audio-btn svg {
	margin: auto;
	width: 32px;
	height: 32px;
}

.play-audio-btn svg path {
	fill: #77b9fc;
}

.play-audio-btn:hover svg path {
	fill: #5bd971;
}
