::selection {
    background: rgb(28, 255, 251);
    color: #000; 
}

/*Main template 'Muli' */
body{
    font-weight: normal;
    font-style: normal;
    font-family: 'Mulish', 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5 {
    font-weight: bold;
}


body{
    margin: 0;
    padding: 0;
    position: relative;
	min-height: 100vh;
	padding-bottom: 200px;
	background-color: #fff;
}
div{
    margin: 0;
    padding: 0;
}

.main-content {
    max-width: 900px;
}

.footer-position{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}
/*End main template*/

/* Navbar */
.yellow-btn{
    border-radius: 50px;
    background-color: #EBDE50;
    padding: 5px;
    margin-right: 5px;
}

.yellow-light-btn{
    border-radius: 50px;
    background-color: #EDE68F;
    padding: 5px;
    margin-right: 5px;
}

.href-btn a{
    margin:10px;
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

.hover-orange:hover a{
    color: #F2864B;
}

.yellow-icon-btn{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #EBDE50;
    padding: 10px;
    margin-right: 5px;
    color: #000;
    align-items: center;
    text-align: center;
    transition: all .2s ease-in-out;
}

.yellow-icon-btn:hover{
    transform: scale(1.1);
    color: #F2864B;
}

/*End Navbar*/


/*Index*/
.banner-item{
    background-color: #EBDE50;
    text-align: center;
}

.banner-item img{
    height: 70vh;
    width: 100%;
    display: inline-block;
    object-fit: cover;
}
/*End index*/

/*Login*/
.main-form-container{
	display: block;
	width: 400px;
	text-align: left;
	margin: auto;
	margin-top: 30px;
	background-color: #fff;
	border-radius: 10px;
}

.main-form-container a{
	text-decoration: none;
}

.pass input{
    outline: none;
    border: none;
    width: 90%;
}
.pass span{
    background-color: #fff;
    border: none;
    text-align: right;
    display: inline-block;
}
.pass span:hover{
    cursor: pointer;
}

.error-pass{
    font-weight: bold;
    color: red;
}


/*End login*/

/* Cartas para ver historias v1
.c-card {
    border: 2px solid #F2864B;
    border-radius: 5%;
    margin: 10px;
    width: 200px;
    height: 300px;
    background: rgb(230,228,50);
    background: radial-gradient(circle, rgba(230,228,50,1) 0%, rgba(237,156,4,1) 100%);
    
}

.c-card-image{
    margin-top: 5%;
    height: 55%;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    border-bottom: 2px #F2864B solid;
}

.c-card-image img {
    position: relative;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    object-fit: contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.c-card-title{
    font-size: .8em;
    font-weight: bold;
}

.c-card-description{
    font-size: .7em;
}
*/
.c-card {
    width: 200px;
    height: 400px;
    margin: 10px;
    border: 1px solid #c0c0c0;
    transition: all .2s ease-in-out;
    text-decoration: none;
    color: #000;
}
.c-card:hover{
    cursor: pointer;
    transform: scale(1.1);
    color: #F2864B;
}

.c-card-img-bg{
    border-radius: 5%;
    margin: 5% 0 5% 0;
    background-color: #c0c0c0;
    width: 100%;
    height: 70%;
}
.c-card-img{
    align-items: center;
    display: block;
    width: 100%;
    height: 100%;
}
.c-card-img img {
    position: relative;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    object-fit: contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.c-card-title{
    position: relative;
    max-height: 20%;
    margin-bottom: 5%;
    overflow: hidden;
    font-size: .9em;
    font-weight: bold;
    text-align: center;
}



.cuadrado{
    height: 100px;
    width: 100px;
    background-color: aqua;
    display: none;
}

.center{
    text-align: center;
}