::selection {
	background: rgb(28, 255, 251);
	color: #000;
}

/*Main template 'Muli' */
body {
	font-weight: normal;
	font-style: normal;
	font-family: "Mulish", "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
	font-weight: bold;
}

body {
	margin: 0;
	padding: 0;
	position: relative;
	min-height: 100vh;
	padding-bottom: 200px;
	background-color: #fafafa;
}
div {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

.main-content {
	max-width: 900px;
	background-color: #fff;
}

.footer-position {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}
/*End main template*/

/* Navbar */
.yellow-btn {
	border-radius: 50px;
	background-color: #ebde50;
	padding: 5px;
	margin-right: 5px;
}

.yellow-light-btn {
	border-radius: 50px;
	background-color: #ede68f;
	padding: 5px;
	margin-right: 5px;
}

.href-btn a {
	margin: 10px;
	text-decoration: none;
	font-weight: bold;
	color: #000;
}

.hover-orange:hover a {
	color: #f2864b;
}

.yellow-icon-btn {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background-color: #ebde50;
	padding: 10px;
	margin-right: 5px;
	color: #000;
	align-items: center;
	text-align: center;
	transition: all 0.2s ease-in-out;
}

.yellow-icon-btn:hover {
	transform: scale(1.1);
	color: #f2864b;
}

/*End Navbar*/

/*Index*/
.banner-item {
	background-color: #ebde50;
	text-align: center;
}

.banner-item img {
	height: 70vh;
	width: 100%;
	display: inline-block;
	object-fit: cover;
}
/*End index*/

/*Login*/
.main-form-container {
	display: block;
	width: 400px;
	text-align: left;
	margin: auto;
	margin-top: 30px;
	background-color: #fff;
	border-radius: 10px;
}

.main-form-container a {
	text-decoration: none;
}

.pass input {
	outline: none;
	border: none;
	width: 90%;
}
.pass span {
	background-color: #fff;
	border: none;
	text-align: right;
	display: inline-block;
}
.pass span:hover {
	cursor: pointer;
}

.error-pass {
	font-weight: bold;
	color: red;
}

/*End login*/
