{% load static %}
<!doctype html>
<html lang="es">
<head>
    <title>{% block title %} {% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}"/>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Bootstrap-->
    <link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.css' %}">

    <!--Íconos-->
    <script src="https://kit.fontawesome.com/f4ecb098da.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Font family 'Muli'-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Muli" />

    <!--Estilos propios-->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/agregar_historias.css' %}" type="text/css">


</head>
<body>
{% block navbar %} {% endblock %}

<div class="container">
    {% block content %} {% endblock %}
</div>

<!-- FOOTER -->
<footer class="bg-dark text-center text-white footer-position">
    <div class="container p-3">
        <p>
            ¡Puedes visitar los siguientes enlaces!
        </p>
        <div id="social">
            <!-- Github -->
            <a class="btn btn-outline-light m-1 social-media-button" href="https://github.com/Jesus-ASG"
               target="_blank" role="button"><i class="fa fa-github fa-2x"></i></a>
        </div>
    </div>
    <!-- Grid container -->
    <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
        © Jesús A. Serrano Graciano 2022
    </div>
</footer>

<!-- Bootstrap JavaScript Libraries -->
<script src="{% static 'bootstrap-5.0.2-dist/js/bootstrap.js' %}"></script>

<!--Para jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!--Scripts propios-->
<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/forms.js' %}"></script>

</body>
</html>