{% load static %}
<!doctype html>
<html lang="es">
<head>
    <title>{% block title %} {% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}"/>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!--Íconos-->
    <script src="https://kit.fontawesome.com/f4ecb098da.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Font family 'Muli'-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Muli" />

    <!--Estilos propios-->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">


</head>
<body>
{% block navbar %} {% endblock %}

<div class="container">
    {% block content %} {% endblock %}
</div>

<!-- FOOTER -->
<footer class="bg-dark text-center text-white footer-position">
    <div class="container p-3">
        <p>
            ¡Puedes visitar los siguientes enlaces!
        </p>
        <div id="social">
            <!-- Instagram -->
            <a class="btn btn-outline-light m-1 social-media-button" href="https://www.instagram.com/alejesus055/"
               target="_blank" role="button"><i class="fa fa-instagram fa-2x"></i></a>
            <!-- Github -->
            <a class="btn btn-outline-light m-1 social-media-button" href="https://github.com/Jesus-ASG"
               target="_blank" role="button"><i class="fa fa-github fa-2x"></i></a>
        </div>
    </div>
    <!-- Grid container -->
    <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
        © Jesús A. Serrano Graciano 2022
    </div>
</footer>

<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>

<!--Scripts propios-->
<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/forms.js' %}"></script>

</body>
</html>