{% extends 'main_template.html' %}
{% load static %}

{% block title %} {{ story.title }} {% endblock %}

{% block page-styles %}

{% endblock %}

{% block navbar %} {% include 'navbar-custom.html' %} {% endblock %}

{% block content %}

<button onclick="send()">click to send</button>


{% endblock %}

{% block page-scripts %}

<script>
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  function send() {
    const csrftoken = getCookie('csrftoken');

    obj = {
      "elem1": ["1", "2", "3"],
      "dialogues": [
        {
          "name": "n1",
          "cont1": "trad1",
          "cont2": "trad2"
        },
        {
          "name": "n2",
          "cont1": "trad1111",
          "cont2": "trad21111"
        }
      ]
    }

    $.ajax({
      type: "POST",
      url: "",
      data: JSON.stringify(obj),
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      headers: { "X-CSRFToken": csrftoken },
      success: function (response) {
        console.log(response);
      }
    });
  }
</script>

{% endblock %}