/* Template 1 */
.img-t-1 {
	width: 33%;
	height: auto;
	align-items: center;
	margin: 2%;
	float: left;
}

.img-t-1 img {
	margin: auto;
	width: 100%;
	display: inline-block;
}

.text-wrap {
	width: auto;
	text-align: justify;
	float: right;
}

.change-img {
	width: 20%;
	min-width: 40px;
	min-height: 40px;
	background-color: #f89a16;
	border-radius: 100%;
	float: left;
	position: relative;
	margin-top: -50px;
	margin-left: 2%;
	transition: all 0.2s ease-in-out;
}

.change-img:hover {
	transform: scale(1.1);
}

/* Template 2 */
.video-showed {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.video-frame {
	width: 90%;
	height: 400px;
}

.external-link {
	text-decoration: none;
	color: #000;
	transition: all 0.2s ease-in-out;
}
.external-link:hover {
	color: #ff5f13;
}

.cancel-save-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.cancel-save-container * {
	display: inline-block;
	min-width: 100px;
	max-width: 200px;
	margin: 1rem;
}

@media only screen and (max-width: 620px) {
	.video-frame {
		width: 90%;
		height: 300px;
	}
}

@media only screen and (max-width: 300px) {
	.video-frame {
		width: 100%;
		height: 250px;
	}
}

/* Textarea */
.txta {
	background-color: #fff;
	outline: none;
	padding-bottom: 10px;
	resize: none;
	max-height: 150px;
}

.txta::-webkit-scrollbar {
	width: 0px;
}

/* create choice */
.question-choices {
	list-style-type: none;
	width: 100%;
}

.question-choices li {
	display: flex;
	align-items: center;
	justify-content: center;
}

.choice-container {
	margin: 0.5rem;
	padding: 0.5rem;
	border: 1px solid #a2a2a2;
	border-radius: 10px;
	width: 100%;
}

.choice-container .radio-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
}

.radio-container span {
	border: 1px solid #ff5f13;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.1s ease-in-out;
}

.radio-container .checked {
	background-color: var(--f-orange);
}

.radio-container span:hover {
	cursor: pointer;
	background-color: var(--f-orange-active);
}

.radio-container i {
	font-size: 1rem;
	color: #fff;
}

.add-choice-button {
	font-weight: 500;
	font-size: 1rem;
	color: #b0b0b0;
	transition: all 0.1s ease-in-out;
}

.add-choice-button:hover {
	cursor: pointer;
	color: #606060;
}
